span.or_span {
    color: black;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 15px;
}

button.btn_linux_hosting {
    color: white;
    border: 1px solid #702f7e;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  button.btn_linux_hosting a {
    position: relative;
    z-index: 100;
  }
  button.btn_linux_hosting:before, button.btn_linux_hosting:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  button.btn_linux_hosting:before {
    transform: translate3d(-100%, 0, 0);
    background-color: black;
    border: 1px solid black;
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  button.btn_linux_hosting:after {
    background-color: #f7941e;
    border: 1px solid #f7941e;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
  }
  button.btn_linux_hosting:hover:before {
    transform: translate3d(0, 0, 0);
  }
  button.btn_linux_hosting:hover:after {
    transform: translate3d(0, 0, 0);
  }
  button.btn_linux_hosting {
    padding: 10px 13px;
    font-size: 10px;
    a {
        color: #702f7e;
        font-weight: 700;
        letter-spacing: 2px;
    }
}
p.linux_para{
        text-align: center;
        font-size: 16px;
}
.linuxhosting{
    
    .purchase {
        background-color: white;
    }
    .businessstationary {
        background-color: black;
        h2 {
            color: white;
        }
        .businessstationary_process p {
            color: white;
        }
        .process_table_three {
            border: 1px solid white;
            h3 {
                font-size: 22px;
                color: white;
            }
        }
    }
    .why_navicosoft_economy_linux_package {
        padding: 110px;
        h2 {
            font-size: 80px;
            padding-bottom: 35px;
        }
        h3 {
            font-size: 40px;
        }
        span.yellow_color {
            color: #f7941e;
        }
        .linux_left {
            width: 45%;
        }
        .linux_right {
            width: 50%;
            margin-left: 35px;
            li {
                display: flex;
            }
            .fa-check-circle:before {
                font-size: 25px;
            }
        }
        .linux_flex {
            display: flex;
            padding-top: 30px;
        }
    }
}

@media (max-width: 767px){
    h1.slider_text {
        font-size: 25px !important;
    }
    .linuxhosting{
        p.linux_para br {
            display: none;
        }
        p.linux_para {
            padding: 10px;
        }
        .why_navicosoft_economy_linux_package {
            padding: 20px;
        }
        .why_navicosoft_economy_linux_package h2 {
            font-size: 35px;
            line-height: 35px;
        }
        .why_navicosoft_economy_linux_package h3 {
            font-size: 35px;
            line-height: 35px;
        }
        .why_navicosoft_economy_linux_package .linux_flex {
            display: grid;
            padding-top: 30px;
        }
        .why_navicosoft_economy_linux_package .linux_left {
            width: 100%;
        }
        .why_navicosoft_economy_linux_package .linux_right {
            width: 100%;
            margin-left: 0px;
        }
        .linux_right br {
            display: none;
        }
        button.btn_linux_hosting {
            margin-top: 15px;
            background-color: white;
        }
        span.or_span {
            color: white;
        }
    }
    
}
@media (min-width: 1900px){
    .linuxhosting{
        .smm_dark_section {
            width: 1380px;
            margin: 0 auto;
        }
        .smm_dark_sec_background {
            background-color: black;
        }
        .why_navicosoft_economy_linux_package {
            width: 1380px;
            margin: 0 auto;
        }
    }
}