.wordpress_hosting{
    .enhance_wordpress_hosting_Section {
        padding: 100px 100px 100px 110px;
        h2 {
            font-size: 50px;
            line-height: 55px;
        }
        p {
            font-size: 21px;
            line-height: 35px;
        }
        .enhace_wp p {
            width: 83%;
        }
        .section_right_left {
            display: flex;
            .left_text_section {
                width: 50%;
                p {
                    padding-top: 20px;
                }
            }
            i.far.fa-check-circle {
                font-size: 20px;
            }
            .font_text p {
                padding-top: 5px !important;
            }
        }
    }
    .container-fluid, .purchase {
        background-color: #f2f1ef !important;
    }
    h2.sectthreee_heading {
        text-align: left;
    }
    p.para_background_linux {
        color: black;
        width: 56%;
    }
    .dedicated_background_section {
        padding: 65px 140px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 772px 573px;
        background-position-x: 638px;
    }
    .table_pricing {
        padding-bottom: 100px;
    }
    h2.sectthreee_heading {
        padding: 0;
    }
    .dedicated_background_section h3 {
        padding: 35px 0px 15px 0px;
    }
    .flippy-card h3 {
        color: white;
        font-size: 25px;
    }
    .flippy-card.flippy-front, .flippy-card.flippy-back {
        height: 300px;
    }
    .flipsection_style {
        max-width: 1100px;
        margin: 0 auto;
        padding-bottom: 0px;
    }
    .MuiGrid-root.flipsection_style.MuiGrid-container.MuiGrid-spacing-xs-3 {
        justify-content: center;
    }
    .reliable_webhosting {
        padding-bottom: 100px;
    }
    .data_center_wordpresshosting {
        padding: 100px;
        text-align: center;
    }
    .data_center_wordpresshosting h2 {
        font-size: 45px;
        padding-bottom: 25px;
    }
    .data_center_wordpresshosting p {
        font-size: 16px;
    }
    .cards_wordpresshosting {
        display: flex;
        column-gap: 25px;
        padding-top: 35px;
        width: 1180px;
        margin: 0 auto;
    }
    .one_card {
        background-color: #f2f1ef;
        padding: 70px 18px;
        width: 90%;
    }
    .secure_business_email h2 {
        text-align: center !important;
        padding-bottom: 40px !important;
        padding-top: 100px;
    }
    .wordpress_hosting_manage {
        background-color: #f2f1ef;
    }
    .secure_rows {
        background-color: white;
    }
    .wordpress_hosting_table .table_sec {
        border: none;
    }
    
}
.wordpress_hosting_table .purchase li {
    background-color: white;
}
@media (max-width: 767px){
    .wordpress_hosting{
        .cards_wordpresshosting {
            display: grid;
            width: 268px;
            grid-gap: 25px;
        }
        .data_center_wordpresshosting {
            padding: 65px;
            text-align: center;
        }
        .data_center_wordpresshosting h2 {
            font-size: 35px;
            line-height: 35px;
        }
        .dedicated_background_section {
            background: none !important;
            padding: 50px 10px;
        }
        p.para_background_linux {
            width: 100%;
        }
        .dedicated_background_section h2 {
            font-size: 33px;
            color: black;
            line-height: 40px;
        }
        .reliable_webhosting {
            padding-bottom: 100px;
            padding: 10px;
        }
        .enhance_wordpress_hosting_Section {
            padding: 10px;
        }
        .enhance_wordpress_hosting_Section h2 {
            font-size: 30px;
            line-height: 37px;
        }
        .enhance_wordpress_hosting_Section .enhace_wp p {
            width: 100%;
            padding-top: 10px;
        }
        .enhance_wordpress_hosting_Section .section_right_left {
            display: grid;
        }
        .enhance_wordpress_hosting_Section .section_right_left .left_text_section {
            width: 100%;
        }
        .right_image_section {
            width: 90%;
            margin: 0 auto;
        }
        .container-fluid {
            padding: 10px;
        }
        h1.slider_text {
            font-size: 26px !important;
        }
        .secure_business_email {
            padding: 10px;
        }
    }
}
@media (min-width: 1900px){
    .wordpress_hosting{
        .enhance_background_width {
            width: 1280px;
            margin: 0 auto;
        }
    }
}
