.top_section{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #000;
    z-index: 2;
}
.scroller_section {
    width: 100%;
    .left_section{
        width: 50%;
        float: left;
    }
    .right_section {
        width: 50%;
        float: right;
        padding: 0 65px;
    }
}
.heeader_first{
    color: white;
    font-family: '! PEPSI !';
    background-color: black;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    }

p.para_first {
    padding-top: 30px;
    box-sizing: border-box;
    color: white;
    font-size: 35px;
    line-height: 35px;
    font-family: Montserrat;
    background-color: black;
    width: 100%;
    text-align: center;
    height: 135px;
}
.intro--extralarge {
    line-height: 125%;
    color: #f7931e;
    font-weight: 700;
    font-size: 35px;
    padding-left: 77px;
}

.scroller_section {
    width: 100%;
    height: 2320px;
    background: black;
}
p.text-white.large-title {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat';
}
p.para {
    font-size: 22px;
    padding-right: 50px;
    padding-top: 35px;
    font-family: 'Montserrat';
}
.intro--extralarge .text {
  margin: 0px 65px;
  max-width: 80%;
}
.section_two_background {
  background-color: black !important;
}
.full_section {
  max-width: 1500px;
  margin: 0 auto;
}

// .text {
//     margin-top: -90px;
// }


@media screen and (max-width: 768px){
    .row {
        display: flex;
      }
      .row .col {
        flex: 1;
      }
    //   .row .col:last-child {
    //     margin-left: 1em;
    //   }
      
      /* Accordion styles */
      .tabs {
        // border-radius: 8px;
        overflow: hidden;
        // box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
      }
      
      .tab {
        width: 100%;
        color: white;
        overflow: hidden;
      }
      .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: black;
        font-weight: bold;
        cursor: pointer;
        border-top: 1px solid rgba(155,157,159,0.4);
        /* Icon */
      }
      .tab-label:hover {
        background: white;
      }
      .tab-label::after {
        content: "❯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
      .tab-content {
        max-height: 0;
        padding: 0 1em;
        color: white;
        background: black;
        transition: all 0.35s;
      }
      .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: black;
        cursor: pointer;
      }
      .tab-close:hover {
        background: black;
      }
      
      input:checked + .tab-label {
        background: black;
        color: #f7941e;

      }
      input:checked + .tab-label::after {
        transform: rotate(90deg);
      }
      input:checked ~ .tab-content {
        max-height: 100vh;
        padding: 1em;
      }
      input[type="radio"] {
        display: none;
    }
    .col:last-child {
        border-bottom: 1px solid rgba(155,157,159,0.4);
    }
    .sc-bdVaJa.fNwNCe {
        background-color: black;
    }
    h2.title_h2 {
        text-align: center;
        color: #702f7e;
        padding-top: 40px;
        font-family: '! PEPSI !';
        font-weight: 800;
        background-color: black;
        letter-spacing: 2px;
    }
    p.title_para {
        text-align: center;
        line-height: 18px;
        color: white;
        padding-bottom: 15px;
        padding-top: 10px;
        font-family: 'Montserrat';
    }
}