body {
    font-family: Tahoma,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    color: #6C6C6C;
    line-height: 1.57;
    cursor: default;
    background: #fff;
    }
    
    /* purrrchasse */
        
        .purchase {
            /*border-top:11px solid #E85700;*/
            text-align:center;
            background-color: #f9f2fa;
        }
    
        .purchase-trigger {
            border:1px solid #E85700;
            border-radius:50px;
            font-size:26px;
            display:inline-block;
            cursor:pointer;
            position:relative;
        }
        
        .purchase-trigger * {
            -webkit-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
            -moz-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
            -o-transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
            transition: 0.3s cubic-bezier(0.540, 1.410, 0.540, 0.870);
            
            -webkit-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
            -moz-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
            -o-transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
            transition: 0.4s cubic-bezier(0.165, 0.925, 0.510, 1.005);
            
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .purchase-trigger span {
            padding:17px 80px;	
            color:#E85700;
            width:246px;
            display: inline-block;
        }
        .purchase-trigger .bubble {
            position:absolute;
            background:#E85700;
            top:0;
            border-radius:50px;
            left:0;
            height:74px;
            width: 246px;
            z-index:-1;
        }
        .purchase-trigger.right .bubble {
            margin-left:246px;	
        }
        
        .purchase-trigger:not(.right) .annual {
            color:#fff;
        }
        .purchase-trigger.right .monthly {
            color:#fff;
        }
        
        .purchase ul {
            display:table;
            // margin:70px auto 0;
            width:100%;
            max-width:1100px;
        }
        .purchase li {
            // display:table-cell;
            // width:33.333%;
            padding:43px 0 0;
            -webkit-transition: 0;
            -webkit-transition: all 0.25s, color 0s !important;
            -moz-transition: all 0.25s, color 0s !important;
            -o-transition: all 0.25s, color 0s !important;
            transition: all 0.25s, color 0s !important;
            position:relative;
            z-index:0;
            border:1px solid #b962cc;
        }
        @media screen and (min-width: 992px){
        .purchase li{
            display:table-cell;
            width:33.333%;
        }
        .purchase ul {
             margin: 70px auto 0;
        }
        }
        
        .purchase li:first-child {
            position:relative;
            right:12px;
            background-color: white;	
        }
        .purchase li:last-child {
            position:relative;
            left:12px;
            background-color: white;	
        }
    
        
        // .purchase li:hover {
        //     box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
        //     z-index:1;
        //     color:#fff;
        //     background:#310c39;
        //     border-color:#310c39;
        
        // }
        
        .purchase li * {
            -webkit-transition: 0 !important;
            -moz-transition: 0 !important;
            -o-transition: 0 !important;
            transition: 0 !important;
        }
        
        // .purchase li:hover * {
        //     color:#fff;
        //     border-color:rgba(255, 255, 255, 0.27) !important;
        // }
        
        
        
        .purchase li strong {
            font-size:19px;
            text-transform:uppercase;
            font-family: AvenirLTStd-Heavy;
            color:#2F3740;
            letter-spacing:2.4px;
            line-height:45px;
            font-weight:400;
            margin-bottom: 25px;
            display: inline-block;
        }
        
        .purchase ul .purchase-description {
            display: block;
            font-size: 16px;
            line-height: 44px;
            font-family: 'Montserrat';
            font-weight: 700;
            letter-spacing: 0;
        }
        
        .purchase .purchase-price {
            font-size: 22px;
            letter-spacing: 0px;
            /* padding-top: 20px; */
            display: block;
            font-weight: 700;
            padding-bottom: 12px;
        }
        .purchase .purchase-button {
            text-transform:uppercase;
            font-size:19px;
            text-transform:uppercase;
            font-family: AvenirLTStd-Heavy;
            color:#2F3740;
            text-decoration:none;
            line-height:1;
            padding:28px 0 24px;
            border-top:1px solid #bbb;
            width:100%;
            display:inline-block;
            margin-top:6px;
            display:block;
        }
        // .purchase li:hover .purchase-button {
            
        //     -webkit-transition: 0;
        //     -moz-transition: 0;
        //     -o-transition: 0;
        //     transition: 0;
        // }
        
        
        // .purchase ul a:hover {
        //     color:#E85700;
        // }
    
    .purchase ul a{
    color: #6C6C6C;
      text-decoration:none;
    }
    
    .purchase li * {
    -webkit-transition: 0 !important;
    -moz-transition: 0 !important;
    -o-transition: 0 !important;
    transition: 0 !important;
    }
    .table_sec{
        display: flex;
        margin: auto;
        width: 70%;
        padding: 10px;
    }
    .table_details{
        margin-left: 8%;
        margin-top: -3px;
    }
    .table_sec::before {
        content: "";
        display: block;
        width: 90%;
        height: 1px;
        background: #bbb;
        left: 20px;
        top: 35%;
        position: absolute;
        margin: 0 auto;
    }
    .text_table{
        padding: 41px;
    }
    button.btn_table {
        background-color: #f7941e;
        border: none;
        padding: 6px 35px;
        color: black;
        font-weight: 800;
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Montserrat';
        letter-spacing: 0;
        width: 235px;
        height: 40px;
    }
    .container {
        padding-bottom: 50px;
    }
    .mid_table{
        // box-shadow: 0 13px 48px rgb(0 0 0 / 20%);
        z-index: 999999 !important;
        color: #fff;
        background: #310c39;
        border-color: #310c39 !important;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    .mid_table .table_sec, .mid_table button.btn_table, .mid_table .text_table {
        color: white;
    }
    .mid_table button.btn_table {
        background-color: white !important;
        color: black !important;
    }
    .purchase ul a{
        color: white;
    }
    h2.h2_second {
        font-family: '! PEPSI !';
        font-size: 45px;
        padding-top: 65px;
        color: #702f7e;
    }
    p.para_sec {
        font-size: 18px;
        padding-top: 16px;
    }
    .purchase li:hover {
        box-shadow: -4px -1px 16px #00000052;
        // z-index: 1;
        // color: #fff;
        // background: #310c39;
        // border-color: #310c39;
        // -webkit-transform: scale(1.05);
    }
    .btn_table a {
        color: black !important;
        font-size: 14px;
        font-weight: 700;
    }

    @media screen and (max-width: 768px){
        h2.h2_second {
            font-size: 30px;
            letter-spacing: 2px;
        }
        p.para_sec {
            font-size: 14px;
            padding: 10px;
            color: black;
        }
        .purchase li:first-child {
            position: relative;
            right: 0px;
            background-color: white;
            margin: 12px;
        }
        .mid_table {
            right: 0px;
            margin: 21px;
        }
        .purchase ul .purchase-description {
            font-size: 14px;
            line-height: 33px;
        }
        .purchase li:last-child{
            position: relative;
            left: 0px;
            background-color: white;
            margin: 12px;
        }
        
    }
    
    
    button.btn_table {
        color: white;
        border: 1px solid white;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      button.btn_table a {
        position: relative;
        z-index: 100;
      }
      button.btn_table:before, button.btn_table:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      button.btn_table:before {
        transform: translate3d(-100%, 0, 0);
        background-color: white;
        border: 1px solid white;
        transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      button.btn_table:after {
        background-color: #f7941e;
        border: 1px solid #f7941e;
        transform: translate3d(100%, 0, 0);
        transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
      }
      button.btn_table:hover:before {
        transform: translate3d(0, 0, 0);
      }
      button.btn_table:hover:after {
        transform: translate3d(0, 0, 0);
      }

      
      button.btn_tablee {
        color: white;
        border: 1px solid white;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
      }
      button.btn_tablee a {
        position: relative;
        z-index: 100;
      }
      button.btn_tablee:before, button.btn_tablee:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      button.btn_tablee:before {
        transform: translate3d(-100%, 0, 0);
        background-color: #f7941e;
        border: 1px solid #f7941e;
        transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      button.btn_tablee:after {
        background-color: white;
        border: 1px solid white;
        transform: translate3d(100%, 0, 0);
        transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
      }
      button.btn_tablee:hover:before {
        transform: translate3d(0, 0, 0);
      }
      button.btn_tablee:hover:after {
        transform: translate3d(0, 0, 0);
      }
      button.btn_tablee {
        background-color: white;
        border: none;
        padding: 4px 35px;
        font-weight: 800;
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Montserrat';
        letter-spacing: 0;
        width: 235px;
        height: 40px;
    }
    .btn_tablee a {
        color: black !important;
        font-weight: 800;
        font-family: 'Montserrat';
    }
    .btn_btn button.btn_table {
        font-size: 15px;
    }