.businessemailsolution{
    .purchase li {
        display: inline-block;
        width: 33.333%;
        margin: 5px;
    }
    h1.slider_text {
        font-size: 50px;
    }
    .pro_email_section_background {
        background-color: #f2f1ef;
        padding: 100px 0px !important;
        .pro_email_section {
            width: 1100px;
            margin: 0 auto;
            h2 {
                font-size: 50px;
                line-height: 55px;
            }
            span.yellow_text {
                color: #f7941e;
            }
            p {
                font-size: 21px;
                padding: 10px 0px;
                line-height: 40px;
                color: black;
            }
            .blox_pro {
                border: 1px solid black;
                background-color: white;
                color: black;
                padding: 12px;
                width: 33.33333%;
                font-size: 14px;
                font-weight: 700;
            }
            .pro_blocks {
                display: flex;
                column-gap: 15px;
                padding: 12px 0px;
            }
        }
    }
    .section_two {
        background-color: white;
        .secondtextsec {
            h2 {
                color: black;
            }
            p {
                color: black;
            }
            
        }
        .lefttextsec {
            h2 {
                color: black;
                font-size: 26px;
            }
            p {
                color: black;
                font-size: 16px;
            }
        }
        
    }
    .backorder_flow {
        background-color: #702f7e;
        h2.sectthreee_heading {
            color: white;
            padding: 100px 0 10px 0;
        }
        p {
            color: white;
            text-align: center;
            font-size: 21px;
            max-width: 79%;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        .flow_order .search_order:nth-child(3)::after{
            display: none;
        }
        .circle_search p {
            color: white;
            margin-bottom: 0px;
            margin-top: 1px;
            font-size: 17px;
        }
        .circle_search {
            background-color: #47274e;
        }
        .circle_search h2 {
            color: white;
            font-size: 60px;
            margin-top: 15px;
        }
    }
    .search_order {
        background-color: white ;
    }
    p.paragraph_style {
        font-size: 17px !important;
        color: black !important;
        max-width: 100% !important;
        padding-top: 23px !important;
    }
    .flow_order .search_order {
        min-width: 25% !important;
        width: 10%;
    }
    .flow_order {
        max-width: 1200px;
        margin: 0 auto;
    }
    @media screen and (min-width:769px){
        .flow_order .search_order:nth-child(1)::after{
            content: '';
            height: 156px;
            width: 159px;
            position: absolute;
            top: 9%;
            left: 79%;
            z-index: 9;
            background-image: url('../../images/emailmarkettingsolution/arrow1.png');
        }
        .flow_order .search_order:nth-child(2)::after{
            content: '';
            height: 156px;
            width: 159px;
            position: absolute;
            top: 9%;
            left: 79%;
            z-index: 9;
            background-image: url('../../images/emailmarkettingsolution/arrow2.png');
        }
        .flow_order .search_order:nth-child(3)::after{
            content: '';
            height: 156px;
            width: 159px;
            position: absolute;
            top: 9%;
            left: 79%;
            z-index: 9;
            background-image: url('../../images/emailmarkettingsolution/arrow1.png');
        }
    }
    &:hover{
        .circle_search{
            img{
                -ms-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
    span.yellow_color {
        color: #f7941e;
    }
    .secure_rows p {
        font-size: 18px;
        color: black;
    }
    .secure_rows {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
    .secure_full {
        width: 1130px;
        margin: 0 auto;
        display: grid;
        grid-gap: 15px;
    }
    .secure_business_email {
        padding-bottom: 100px;
    }
}
@media (min-width: 1900px){
    .businessemailsolution{
        h1.slider_text {
            font-size: 70px;
            line-height: 75px;
        }
        .purchase ul {
            margin: 35px auto 0;
        }
        .blox_pro {
            border: 1px solid black;
            background-color: white;
            color: black;
            padding: 12px;
            width: 33.33333%;
            font-size: 14px;
            font-weight: 700;
        }
        .backorder_flow p {
            max-width: 1202px !important;
            line-height: 35px;
        }
    }
    
}
@media (max-width: 767px){
    .businessemailsolution {
        .pro_email_section_background .pro_email_section {
            width: 100%;
            margin: 0 auto;
        }
        .pro_email_section br {
            display: none;
        }
        .pro_email_section_background {
            background-color: #f2f1ef;
            padding: 50px 10px !important;
        }
        .pro_email_section_background .pro_email_section .pro_blocks {
            display: grid;
            padding: 12px 0px;
        }
        .pro_email_section_background .pro_email_section .blox_pro {
            width: 100%;
        }
        .pro_email_section_background .pro_email_section .pro_blocks {
            display: grid;
            padding: 12px 0px;
            grid-gap: 15px;
        }
        .section_two {
            background-color: white;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .flow_order .search_order {
            max-width: 95%;
        }
        .secure_full {
            width: 100%;
            padding: 10px;
        }
        .pro_email_section_background .pro_email_section h2 {
            font-size: 30px;
            line-height: 40px;
        }
        .section_two .secondtextsec h2 br {
            display: none;
        }
    }
}