
.facebook_ads{
    h2.whitecolorhead {
        text-align: center;
        color: white;
        font-size: 25px;
        line-height: 30px;
    }
    h1.slider_text {
        font-size: 54px;
    }
    .lefttextsec h2 {
        line-height: 32px;
    }
    
    .backgroundimg_regis button.btn_table {
        // margin-left: 45%;
        margin-top: 20px;
        width: 160px;
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 600;
        letter-spacing: 1px;
        height: 33px;
    }
    
    
    .backgroundimg_regis {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        text-align: center;
    }
    
    .google_ad .dedicated_background_section {
        background-color: white;
        padding: 60px 140px 0px;
    }
    .secondtextsec h2 {
        color: black;
    }
    .secondtextsec p {
        color: black;
        font-size: 16px;
        width: 100%;
    }
    .google_ad .lefttextsec h2 {
        line-height: 35px;
    }
    .rightimgsec {
        padding-bottom: 85px;
    }
}
@media (max-width: 767px){
    .facebook_ads {
        .secondtextsec h2 br {
            display: none;
        }
        .dedicated_background_section h2 {
            font-size: 30px;
            line-height: 40px;
        }
        .google_ad .lefttextsec h2 {
            font-size: 25px;
        }
        .google_ad .lefttextsec h2 {
            line-height: 35px;
        }
    }
}
@media (min-width: 1900px){
    .facebook_ads {
    .dedicated_background_section {
        width: 1380px;
        margin: 0 auto;
    }
    .one_stop_background {
        background-color: #f2f1ef;
    }
}
}