.container_dm {
    max-width: 1920px;
    margin: 0 auto;
}
h2.slider_text {
    font-size: 57px;
    line-height: 60px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #f7941e;
    padding: 165px;
}
span.slidertext_color {
    color: #702f7e;
}

.digital_marketing_image_section img.first_img {
    width: 100%;
}
button.btn_digitalmarketting {
    background-color: black;
    padding: 10px 30px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}
.btn_digitalmarketting a {
    color: white;
    text-transform: uppercase;
}
.section_one {
    padding: 100px 165px 100px 165px;
}
.section_one h2 {
    font-size: 50px;
    line-height: 57px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.section_one p {
    font-size: 18px;
    padding-top: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
}
span.text_color {
    color: #f7941e;
}
.fa-check-circle:before {
    color: #f7941e;
}
i.far.fa-check-circle {
    line-height: 45px;
    margin-right: 11px;
}
.font_text {
    display: flex;
}
hr {
    margin-top: 140px;
}
.secondd {
    padding-top: 140px;
}

.section_two {
    padding: 100px 165px 100px 165px;
    background-color: black;
}
.secondtextsec h2 {
    color: white;
    font-size: 50px;
    line-height: 57px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.secondtextsec p {
    color: white;
    padding-top: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    width: 76%;
}
.imgandtextsec {
    display: flex;
    padding-top: 100px;
}
.imgandtextsec:before {
    content: '';
    position: absolute;
    width: 450px;
    height: 1px;
    background: #f7941e;
}
.lefttextsec {
    width: 50%;
}
.lefttextsec h2 {
    color: white;
    padding-top: 55px;
}
.lefttextsec p {
    color: white;
    padding-top: 10px;
    padding-right: 19px;
}
.digitalmarketting_section {
    display: flex;
    justify-content: center;
    height: 285px;
}
.tickimg1 {
    height: 90%;
    border-right: 1px solid #cdcdcd;
    padding: 10px 25px 0 25px;
    text-align: center;
    width: 20%;
}
.tickimg2 {
    height: 90%;
    border-right: 1px solid #cdcdcd;
    padding: 10px 25px 0 25px;
    text-align: center;
    width: 20%;
}
.tickimg3 {
    height: 90%;
    border-right: 1px solid #cdcdcd;
    padding: 10px 25px 0 25px;
    text-align: center;
    width: 20%;
}
h2.sectthree_heading {
    text-align: center;
    padding: 100px;
    font-size: 50px;
    line-height: 55px;
    font-family: 'Montserrat';
}
.tickimg {
    padding: 10px 25px 0 50px;
    text-align: center;
    width: 20%;
}
@media (max-width: 767px) {
    .tickimg1, .tickimg2, .tickimg3, .tickimg{
        height: 90%;
        border-right: 1px solid #cdcdcd;
        padding: 10px 25px 0 25px;
        text-align: center;
        width: 100%;
    }
    h2.slider_text {
        font-size: 22px;
        line-height: 31px;
        padding: 30px 15px 30px 15px;
    }
    .section_one {
        padding: 0 15px 30px 15px;
    }
    .section_one h2 {
        font-size: 22px;
        line-height: 31px;
        padding-top: 20px;
    }
    .secondd {
        padding-top: 0px;
    }
    hr {
        margin-top: 40px;
    }
    .section_one p {
        font-size: 16px;
    }
    button.btn_digitalmarketting {
        padding: 10px 13px;
        font-size: 10px;
    }
    
    
    .imgandtextsec {
        display: block;
        padding-top: 45px;
    }
    .section_two {
        padding: 0 15px 30px 15px;
    }
    .secondtextsec h2 {
        font-size: 26px;
        line-height: 31px;
        padding-top: 16px;
    }
    .secondtextsec p {
        width: 100%;
    }
    .lefttextsec {
        width: 100%;
    }
    .imgandtextsec:before {
        width: 92%;
    }
    .rightimgsec {
        padding-top: 17px;
    }
    h2.sectthree_heading {
        padding: 25px 0 0 0;
        font-size: 17px;
        line-height: 21px;
    }
    .digitalmarketting_section {
        display: block;
        justify-content: center;
        height: 100%;
    }
    .tickimg2 {
        padding: 50px 25px 10px 25px;
        text-align: center;
    }
    .tickimg1 {
        padding: 40px 25px 10px 25px;
        text-align: center;
    }
    .tickimg3 {
        padding: 80px 25px 10px 25px;
        text-align: center;
    }
    .tickimg {
        padding: 80px 25px 10px 25px;
        text-align: center;
    }
    .tickimg1:after, .tickimg2:after, .tickimg3:after {
        content: '';
        position: absolute;
        width: 89%;
        background: #f7941e;
        left: 20px;
        margin-top: 15px;
        height: 1px;
    }
  }





  button.btn_digitalmarketting {
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  button.btn_digitalmarketting a {
    position: relative;
    z-index: 100;
  }
  button.btn_digitalmarketting:before, button.btn_digitalmarketting:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  button.btn_digitalmarketting:before {
    transform: translate3d(-100%, 0, 0);
    background-color: white;
    border: 1px solid white;
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  button.btn_digitalmarketting:after {
    background-color: #f7941e;
    border: 1px solid #f7941e;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
  }
  button.btn_digitalmarketting:hover:before {
    transform: translate3d(0, 0, 0);
  }
  button.btn_digitalmarketting:hover:after {
    transform: translate3d(0, 0, 0);
  }


@media (min-width: 1900px) {
    .section_one {
        padding: 100px 0px 100px 0px;
        width: 1380px;
        margin: 0 auto;
    }
}
@media (min-width: 1900px){
    .digit_width_custom {
        width: 1380px;
        margin: 0 auto;
    }
}