.top_bar {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    color: white;
    .phone {
        color: white;
        margin: 0px 20px;
    }
    i.fas.fa-phone-alt {
        color: #f7941e;
    }
    .registration {
        margin: 0px 20px;
        a {
            color: white;
        }
    }
    img.cart {
        padding-top: 4px;
        padding-right: 30px;
    }
    .registration_sign a {
        color: white;
    }
    .registration_sign {
        padding: 0px 15px;
    }
}
@media (max-width: 767px){
    .top_bar {
        background-color: black;
        display: grid;
        justify-content: center;
        padding: 5px;
        color: white;
        text-align: center;
        span.line_topbar {
            display: none;
        }
        img.cart {
            display: none;
        }
    }
}

