@media (min-width: 1900px){
    .about_us{
        .about_us_background p {
            padding-left: 1231px !important;
            color: white;
            font-size: 35px !important;
            line-height: 40px !important;
            padding-bottom: 122px !important;
        }
        .about_us_background h2 {
            color: #f7941e;
            padding-top: 495px !important;
            font-size: 55px !important;
            line-height: 54px !important;
            padding-left: 1231px !important;
        }
        .section_strategy {
            text-align: center;
            h2.slider_text {
                font-size: 90px !important;
                line-height: 99px !important;
                padding: 120px !important;
            }
        }
        .left_sect {
            padding: 0px 96px !important;
            p {
                font-size: 20px !important;
            }
        }
        .section_whoweare h2 {
            padding: 183px 262px 35px 325px !important;
        }
        .section_whoweare p {
            width: 57% !important;
            margin-left: 330px !important;
        }
        .section_vision_statement h2 {
            padding: 100px 0px 53px 325px !important;
        }
        .vision_text_img .vision_right_text {
            width: 50% !important;
            padding: 0px 321px 0px 0px !important;
            margin-left: -30px !important;
        }
        .secret_sause_text {
            padding: 0px 237px 35px 337px !important;
            margin-top: 100px !important;
            p {
                font-size: 18px !important;
            }
            p.secrect_sause_textone {
                width: 50% !important;
            }
            p.secrect_sause_texttwo {
                width: 50% !important;
                margin-left: 420px !important;
                margin-top: 315px !important;
            }
            p.secrect_sause_textthree {
                padding-top: 35px !important;
                width: 85% !important;
            }
        }
        .secret_sause_background {
            background-size: 1725px 972px !important;
        }
        .aboutus_our_mission {
            .tetxt_ourmission {
                width: 50% !important;
            }
            .right_images_ourmission {
                display: grid !important;
            }
            .our_mission {
                background-repeat: no-repeat;
                width: 50% !important;
                background-size: 476px 450px !important;
                background-position-x: 437px !important;
                background-position-y: 48px !important;
            }
            img.image2 {
                padding-top: 17px !important;
            }
        }
        
        
    }
}


    .about_us{
        .about_us_background {
            background-size: cover;
            background-repeat: no-repeat;
            // margin-top: -75px;
            font-style: italic;
        }
        .about_us_background p {
            padding-left: 859px;
            color: white;
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 82px;
        }
        .about_us_background h2 {
            color: #f7941e;
            padding-top: 358px;
            font-size: 36px;
            line-height: 32px;
            padding-left: 860px;
        }
        .section_strategy {
            text-align: center;
            padding-bottom: 100px;
            h2.slider_text {
                font-size: 60px;
                line-height: 71px;
                padding: 100px;
            }
        }
        .text_strat {
            display: flex;
        }
        .left_sect {
            width: 50%;
            text-align: left;
            padding: 0px 45px;
            p {
                font-size: 16px;
            }
        }
        .right_sec {
            width: 50%;
        }
        .section_whoweare {
            background-size: contain;
            background-repeat: no-repeat;
            background-color: black;
            h2 {
                font-size: 50px;
                color: white;
                padding: 166px 262px 35px 262px;
            }
            p {
                font-size: 16px;
                color: white;
                width: 65%;
                margin-left: 268px;
                padding-bottom: 100px;
            }
        }
        .section_vision_statement {
            h2 {
                font-size: 50px;
                line-height: 55px;
                padding: 100px 0px 53px 255px;
            }
            span {
                font-size: 70px;
                color: #702f7e;
            }
        }
        .vision_text_img {
            display: flex;
            .vision_left_text {
                width: 50%;
            }
            .vision_right_text {
                width: 50%;
                padding: 0px 43px;
                p {
                    font-size: 18px;
                }
            }
        }
        .secret_sause_background {
            background-size: 1500px 866px;
            background-position-x: -251px;
            background-repeat: no-repeat;
            margin-top: 100px;
        }
        .secret_sause_text {
            padding: 0px 262px 35px 262px;
            span {
                color: #f7941e;
            }
            h2 {
                font-size: 46px;
                line-height: 48px;
                padding-bottom: 15px;
            }
            p {
                font-size: 16px;
                color: black;
            }
            p.secrect_sause_textone {
                width: 79%;
            }
            p.secrect_sause_texttwo {
                width: 79%;
                margin-left: 165px;
                margin-top: 315px;
            }
            p.secrect_sause_textthree {
                padding-top: 35px;
                padding-bottom: 50px;
            }
            
        }
        .technical_specification {
            background-color: #220728;
            h2.web_hosting_h2 {
                color: white;
            }
            p {
                color: white;
                text-align: center;
                padding-bottom: 40px;
                font-size: 16px;
            }
        }
        .technical_content p {
            text-align: left;
            line-height: 22px;
        }
        .technical_content {
            height: 76px;
        }
        .align_center_column {
            justify-content: center;
        }
        .technical_content img {
            padding-top: 15px;
        }
        
        .aboutus_our_mission {
            display: flex;
            column-gap: 22px;
            padding-top: 100px;
            padding-bottom: 100px;
            .our_mission {
                background-repeat: no-repeat;
                width: 50%;
                background-size: 516px 450px;
                background-position-x: 116px;
                background-position-y: 20px;
            }
            .right_images_ourmission {
                width: 50%;
            }
            .tetxt_ourmission {
                background-color: white;
                border: 3px solid #702f7e;
                padding: 45px;
                width: 78%;
                float: right;
                h2 {
                    font-size: 40px;
                    padding-bottom: 10px;
                }
            }
            img.image1 {
                padding-top: 55px;
            }
        }
        .flow_order .search_order {
            min-width: 190px;
        }
        .flow_order .search_order .circle_search {
            width: 100px;
            height: 100px;
        }
        .flow_order .search_order .circle_search img {
            margin-top: 8%;
            transition: 0.3s;
        }
    }

@media (max-width: 767px){
    .about_us {
        .about_us_background p {
            padding-left: 0px !important;
            font-size: 20px !important;
            padding-bottom: 140px !important;
        }
        .about_us_background h2 {
            padding-top: 140px !important;
            font-size: 30px !important;
            padding-left: 0px !important;
        }
        .about_us_background {
            background: none !important;
            background-color: black !important;
            padding: 11px;
            margin-top: 0px !important;
        }
        h2.slider_text {
            background-color: white;
        }
        span.slidertext_color {
            color: black;
        }
        .section_strategy h2.slider_text {
            font-size: 30px;
            line-height: 33px;
            padding: 10px;
        }
        .text_strat {
            display: grid !important;
            .left_sect {
                width: 100% !important;
                text-align: left;
                padding: 10px;
            }
            .right_sec {
                padding-top: 25px !important;
                width: 100% !important;
            }
            
        }
        .section_strategy {
            text-align: center;
            padding-bottom: 50px !important;
        }
        .section_whoweare h2 {
            font-size: 30px !important;
            color: white;
            padding: 20px 10px !important;
            line-height: 55px !important;
        }
        .section_whoweare p {
            font-size: 16px !important;
            color: white;
            width: 100% !important;
            margin-left: 0px;
            padding: 0px 10px 50px 10px !important;
        }
        .section_vision_statement h2 {
            font-size: 30px;
            line-height: 34px;
            padding: 50px 10px 10px 10px;
        }
        .vision_text_img {
            display: grid;
            .vision_left_text {
                width: 100% !important;
                padding-top: 15px !important;
            }
            .vision_right_text {
                width: 100% !important;
                padding: 10px !important;
            }
        }
        .section_vision_statement span {
            font-size: 40px !important;
            color: #702f7e;
        }
        .secret_sause_text {
            padding: 10px;
        }
        .secret_sause_background {
            margin-top: 15px !important;
            background: none !important;
        }
        .secret_sause_text h2 {
            font-size: 29px !important;
            line-height: 35px !important;
            padding-bottom: 15px !important;
        }
        .secret_sause_text span {
            color: #f7941e;
            font-size: 32px !important;
        }
        .secret_sause_text p.secrect_sause_textone {
            width: 100% !important;
        }
        .secret_sause_text p.secrect_sause_texttwo {
            width: 100% !important;
            margin-left: 0px !important;
            margin-top: 35px !important;
        }
        h2.web_hosting_h2 {
            font-size: 30px;
            padding-top: 50px;
            line-height: 35px;
        }
        .technical_specification p br{
            display: none;
        }
        .technical_specification p{
            padding: 10px;
        }
        .align_center_column {
            justify-content: left;
        }
        .technical_specification {
            padding-bottom: 50px;
        }
        .aboutus_our_mission {
            display: grid;
            grid-column-gap: 22px;
            column-gap: 22px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .aboutus_our_mission .tetxt_ourmission {
            background-color: white;
            border: 3px solid #702f7e;
            padding: 45px;
            width: 90%;
            float: none;
            margin: 0 auto;
        }
        .aboutus_our_mission .our_mission {
            background-repeat: no-repeat;
            width: 100%;
            background: none !important;
        }
        .aboutus_our_mission .tetxt_ourmission h2 {
            font-size: 30px;
            padding-bottom: 10px;
        }
        img.image2 {
            width: 100%;
        }
        .MuiGrid-spacing-xs-3 {
            width: calc(93% + 24px);
        }
        .aboutus_our_mission .right_images_ourmission {
            width: 100%;
        }
        .flow_order .search_order {
            min-width: 255px;
        }
        .search_order p {
            font-size: 20px;
            padding-top: 15px;
        }
    }
}