// .web_hosting .digital_marketing_image_section {
//     background-color: #f9f2fa;
// }
.web_hosting{
.table_sec {
    border-bottom: 1px solid #b962cc;
}
}
@media (max-width: 767px){
h1.slider_text {
    background-color: black;
    font-size: 22px !important;
    line-height: 31px !important;
    padding: 30px 15px 30px 15px !important;
}
.web_hosting{
    h1.slider_text {
        font-size: 29px !important;
    }
}
}
h2.web_hosting_h2 {
    font-size: 50px;
    padding-top: 100px;
}
.web_hosting_h2 span {
    color: #f7941e;
}
ul.table_content {
    display: grid;
    margin: 0;
}
ul.table_content {
    display: grid;
}
ul.table_content>li {
    border: none;
    margin: 0 auto;
    padding: 0;
}
ul.table_content>li:last-child{
    left: 0;
}
ul.table_content>li:hover{
    box-shadow: none;
}
ul.table_content>li:first-child{
    right: 0;
}
.web_hosting .table_sec::before{
    top: 20%;
    display: none;
}
ul.table_content > li:nth-child(odd) {
    background-color: #f3e9f5;
    margin: 0 auto;
    padding: 10px 0px 10px 0;
    width: 100%;
    color: black;
    border: 1px solid #b962cc;
    border-right: none;
    border-left: none;
}
ul.table_content > li:nth-child(even) {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    width: 100%;
}
.table_pricing button.btn_table, .table_pricing button.btn_tablee {
    margin: 25px 0 25px 0;
}
.mid_table ul.table_content > li:nth-child(odd) {
    background-color: #481b52;
    margin: 0 auto;
    padding: 10px 0px 10px 0;
    width: 100%;
    color: white;
    border: 1px solid #b962cc;
    border-right: none;
    border-left: none;
}
.table_content p {
    font-weight: 600;
}
h2.web_hosting_h2 {
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
}
.technical_content {
    display: flex;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 14px;
    height: 58px;
}
.grid_technical {
    max-width: 1200px !important;
    margin: 0 auto !important;

    @media screen and (min-width:769px) {
        .grid_technical {
            padding: 10px;
        }
    }
}
.web_hosting .purchase {
    background-color: white;
}
.technical_content img {
    padding-right: 15px;
    // max-width: 13% !important;
    height: max-content;
}
.lastimg_gurantee img{
    max-width: 10% !important;
}
.technical_content p {
    font-size: 15px;
    font-weight: 600;
}
.technical_specification {
    padding-bottom: 150px;
}
.table_pricing {
    padding-bottom: 50px;
}
.web_hosting .img2 img {
    width: auto;
    margin-left: 25%;
    padding-bottom: 10px;
}
.web_hosting .img1 img {
    margin-top: 0;
    margin-left: 25%;
    padding-bottom: 10px;
}
.web_hosting .img4 img {
    margin-top: 7px;
    margin-left: 25%;
    padding-bottom: 10px;
}
.web_hosting .img3 img {
    margin-left: 25%;
    padding-bottom: 10px;
}
.web_hosting .first h2 {
    padding-bottom: 1%;
}
.web_hosting .first p {
    text-align: center;
    color: white;
    padding-bottom: 4%;
}
p.webhsoting_featurepara {
    font-size: 18px;
    text-align: center;
    color: black;
}
.web_hosting{
    @media screen and (min-width:769px) {

        .react-tabs {
            width: 80%;
            margin: 0 auto;
        }
        .react-tabs__tab {
            padding: 12px 6px;
        }
        
    }

    @media screen and (max-width:768px) {

        .react-tabs {
            width: 100%;
            margin: 0 auto;
        }
        
    }
    .react-tabs {
        display: flex;
        color: white;
        background: white;
        margin-top: 80px;
    }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
    color: black;
    border-bottom: none;
  }
  
  .react-tabs__tab {
    height: 70px;
    list-style: none;
    cursor: pointer;
    color: #bbb;
  }
  
  .react-tabs__tab--selected {
    background: white;
    border-color: white;
    color: #f7941e;
    text-decoration: underline;
  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 50%;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 24px;
    transition: 0.2s;
  }
  
  .react-tabs__tab--selected {
    padding-left: 21px;
  }
  
  .panel-content {
    text-align: left;
    padding: 25px;
  }
  .react-tabs p {
    text-align: right;
    font-weight: 800;
    font-size: 27px;
}
.panel-content p {
    color: black;
    font-size: 18px ;
    text-align: left ;
    font-weight: 400 ;
    padding-top: 20px;
}
.hosting_packages_btn {
    margin-bottom: 140px;
    text-align: center;
}
}
.reliable_webhosting h2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 18px;
}
.reliable_webhosting {
    background-color: black;
}
.reliable_webhosting p {
    text-align: center;
    font-size: 21px;
    color: white;
    padding-bottom: 30px;
}
.web_hosting{
.flippy-card h3 {
    color: white;
    font-size: 26px;
}
.isActive h3, .isActive p {
    color: #f7941e !important;
}
.flippy-cardContainer p {
    text-align: left;
    font-size: 16px;
    padding-top: 10px;
}
// .flippy-cardContainer {
//     border: 1px solid white;
// }
.flipsection_style{
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 140px;
}
.flippy-card.flippy-back {
    border: 1px solid #f7941e;
    padding: 35px;
    height: 400px;
}
.flippy-card.flippy-front{
    border: 1px solid white;
    padding: 35px;
    height: 400px;
}
.table_sec {
    border-bottom: 1px solid #b962cc;
}
}

@media (max-width: 767px){
    .web_hosting {
        br {
            display: none;
        }
        h2.slider_text {
            font-size: 20px;
        }
        h2.web_hosting_h2 {
            font-size: 22px;
            padding-top: 25px;
            line-height: 30px;
        }
        
        .purchase li:first-child {
            margin-bottom: 40px;
        }
        .mid_table {
            margin-bottom: 40px;
        }
        .img1 img {
            margin-left: 0px;
        }
        .img2 img {
            margin-left: 0px;
        }
        .img3 img {
            margin-left: 0px;
        }
        .img4 img {
            margin-left: 0px;
        }
        .reliable_webhosting h2 {
            font-size: 22px;
            line-height: 33px;
            padding-top: 50px;
        }
        .reliable_webhosting p {
            font-size: 16px;
        }
        .first p {
            padding: 10px;
        }
        .MuiGrid-spacing-xs-3 {
            width: 100%;
        }
        .react-tabs {
            display: grid;
            margin-top: 30px;
        }
        .react-tabs__tab-list {
            display: flex;
            flex-direction: column;
            border-bottom: none;
            width: 100%;
        }
        .react-tabs__tab {
            height: 37px;
            list-style: none;
            cursor: pointer;
        }
        .react-tabs p {
            text-align: left;
            font-weight: 800;
            font-size: 17px;
        }
        .react-tabs__tab-panel {
            width: 100%;
        }
        .panel-content {
            text-align: center;
        }
        .panel-content p {
            font-weight: 400;
        }
    }
    
}

// .table_sec::before{
//     display: none !important;
// }

h1.slider_text {
    font-size: 53px;
    line-height: 60px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #f7941e;
    padding: 165px;
}
@media (min-width: 1900px){
    .web_hosting .react-tabs {
        width: 1280px;
        margin: 0 auto;
    }
}