.google_ad{
    h1.slider_text {
        font-size: 52px;
    }
    h2.slider_text {
        font-size: 54px;
    }
    .web_development .development_solutions .text_section_left {
        width: 75%;
    }
    .web_development .development_solutions .text_dev {
        padding-bottom: 100px;
    }
    .dedicated_background_section {
        background-color: #f2f1ef;
    }
    h2.sectthreee_heading.mobile_stationary {
        text-align: left;
    }
    p.para_background_linux {
        color: black;
        width: 100%;
    }
    .google_ad_service {
        display: flex;
    }
    .left_text {
        width: 50%;
    }
    h3.headingthree {
        padding: 15px 0px;
    }
    button.btn_google {
        margin-bottom: 60px;
    }
    .section_two {
        padding: 50px 165px 100px 165px;
        background-color: white;
    }
    .lefttextsec h2 {
        color: black;
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 10px;
    }
    .lefttextsec p {
        color: black;
    }
    h2.sectthreee_heading {
        padding: 50px 0 40px 0;
    }
    .imgandtextsec {
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #f7941e;
    }
    .imgandtextsec:before {
        display: none;
    }
    button.googlead_ad {
        padding: 10px 15px;
        margin-bottom: 75px;
    }
    .flow_order .search_order:nth-child(1)::after, .flow_order .search_order:nth-child(2)::after, .flow_order .search_order:nth-child(3)::after{
        display: none;
    }
    .backorder_flow {
        background-color: #f2f1ef;
    }
    .flow_order .search_order {
        background-color: white;
    }
    .flow_order .search_order {
        width: 20%;
    }
    .flow_order .search_order .circle_search {
        background-color: #f1f4f4;
    }
    p.text_google_center {
        text-align: center;
        padding-bottom: 60px;
        font-size: 16px;
    }
    .tickimg1, .tickimg2, .tickimg3 {
        height: 70%;
    }
}
@media (max-width: 767px){
    .google_ad{
        h2.slider_text {
            font-size: 25px;
            br {
                display: none;
            }
        }
        .web_development .development_solutions .text_section_left {
            width: 100%;
            padding: 0px 5px;
        }
        .dedicated_background_section {
            padding: 10px;
        }
        span.slidertext_color {
            color: #702f7e;
        }
        h2.sectthreee_heading.mobile_stationary br {
            display: none;
        }
        .google_ad_service {
            display: grid;
        }
        .left_text {
            width: 100%;
        }
        .section_two {
            padding: 10px;
            background-color: white;
        }
        .imgandtextsec {
            display: grid;
            padding-top: 60px;
            border-bottom: 1px solid #f7941e;
        }
        button.googlead_ad {
            padding: 10px 15px;
            margin-bottom: 10px;
        }
        .rightimgsec img {
            padding-bottom: 55px;
        }
        p.text_google_center br {
            display: none;
        }
        .web_development .development_solutions i.far.fa-check-circle {
            padding-right: 0px;
        }
    }
}
@media (min-width: 1900px){
.flow_order_width {
    width: 1280px;
    margin: 0 auto;
}
}