@font-face {
    font-family: pepsi;
  	src: url("/fonts/PEPSI_pl.otf") format("opentype");
}
@font-face {
    font-family: Montserrat;
  	src: url("/assets/font/Montserrat-Black.otf") format("opentype");
}
