.smm_background_section h2 {
    font-size: 50px;
    color: white;
    line-height: 55px;
    text-shadow: 2px 2px #0d0d0d;
}
.smm_background_section p {
    font-size: 21px;
    color: white;
    padding-top: 10px;
}
.smm_background_section {
    padding: 135px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.smm_platform_section h2 {
    text-align: center;
    font-size: 50px;
    line-height: 55px;
    padding-top: 100px;
    font-weight: 700;
}
.smm_platform_section p {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}
.smm_google p {
    text-align: left;
    font-size: 18px;
}

.google_text_sec h3 {
    font-size: 35px;
    padding-bottom: 15px;
}
.google_text_sec button.btn_digitalmarketting {
    margin-top: 25px;
}
.smm_google img {
    float: right;
}
.MuiGrid-root.smm_google.MuiGrid-container {
    margin: 100px 0 0px 0;
}
.google_text_sec {
    margin-top: 100px;
}
.smm_facebook .facebook_text_sec p {
    text-align: right;
    font-size: 18px;
}
.smm_facebook .facebook_text_sec {
    text-align: right;
    margin-top: 95px;
}
.smm_facebook .image_center img{
    padding-left: 100px;
}
.linkedin_center {
    padding-right: 100px;
}
.twitter_text_sec {
    margin-top: 60px;
}
.smm_dark_section {
    background-color: black;
    padding: 110px;
}
.smm_dark_section h2 {
    font-size: 50px;
    color: white;
    line-height: 55px;
}
.smm_dark_section p {
    font-size: 21px;
    color: white;
    padding-top: 10px;
}
.smm_smam {
    margin-top: 100px;
}
.self_sufficent_smm p {
    font-size: 18px;
    text-align: center;
}
p.bold_text {
    font-weight: 700;
    color: black;
    padding: 25px;
}
.smm_box_text {
    // width: 33.3333%;
    border: 1px solid black;
    padding: 15px;
}

.smm_arrow._text {
    display: flex;
}
.smm_arrow i.fa.fa-long-arrow-right {
    margin-top: 17px;
    margin-left: 17px;
    font-size: 24px;
}
.smm_arrow p {
    padding-left: 25px;
    text-align: left;
    color: black;
    font-weight: 500;
}
.self_sufficent_smm {
    margin-bottom: 100px;
}
.smm_agency_section {
    background-color: #220728;
    padding: 100px;
    .inner_section {
        max-width: 1349px;
        margin: 0 auto;
    }
}
.smm_agency_text h2 {
    font-size: 50px;
    color: white;
    line-height: 55px;
}
.smm_agency_section p {
    font-size: 16px;
    color: white;
    padding-top: 10px;
    padding-right: 30px;
}

.smm_img_text_section {
    display: flex;
    width: 50%;
}
.smm_img_text_section img {
    height: 100px;
    padding: 0px 17px 0 0px;
}
.smm_secondlast_section {
    margin-top: 40px;
    display: flex;
}
.smm_img_text_section h3 {
    color: white;
    font-size: 22px;
}
.smm_pricing_strategy_section {
    display: flex;
    padding: 100px;
}
.smm_pricing_strategy {
    width: 50%;
    text-align: center;
}
.smm_pricing_strategy_text {
    width: 50%;
    text-align: center;
    padding: 50px;
}
.smm_pricing_strategy_text h2 {
    font-size: 35px;
    padding: 20px 0;
}
.smm_pricing_strategy_text p {
    font-size: 16px;
}
.MuiGrid-grid-xs-12 {
    max-width: 100% !important;
}
.smm_texttt{
    padding-left: 28px;
}
.social_media_marketting{
    .self_sufficent_smm  .animated.bounceInRight {
        width: 33.33333%;
    }
    .smm_box_section {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        grid-column-gap: 40px;
        column-gap: 40px;
        padding: 15px;
        justify-content: center;
    }
    .smm_google p {
        width: 75%;
    }
    .smm_facebook p {
        width: 75%;
        float: right;
    }
}
@media (min-width: 1900px){
.smm_platform_section {
    width: 1300px;
    margin: 0 auto;
}
}

@media (max-width: 767px){
    .social_media_marketting{
        h1.slider_text {
            font-size: 24px !important;
        }
    }
    
    .smm_background_section {
        padding: 25px;
        background-position: left;
    }
    .smm_background_section h2 {
        font-size: 22px;
        line-height: 31px;
    }
    .smm_platform_section h2 {
        text-align: center;
        font-size: 22px;
        line-height: 31px;
        padding-top: 50px;
        padding-left: 3px;
        padding-right: 3px;
        font-weight: 700;
    }
    .smm_platform_section p {
        font-size: 18px;
        padding-top: 9px;
    }
    .google_text_sec {
        padding: 16px;
    }
    .google_text_sec h3 {
        font-size: 25px;
        padding-bottom: 5px;
    }
    .smm_google p {
        text-align: left;
        font-size: 14px;
    }
    .MuiGrid-root.smm_google.MuiGrid-container {
        margin: 50px 0 0 0;
    }
    .smm_facebook, .twitter_text_sec {
        padding: 16px;
    }
    .smm_facebook .facebook_text_sec {
        text-align: right;
        margin-top: 25px;
    }
    .smm_facebook .facebook_text_sec p {
        text-align: left;
        font-size: 13px;
    }
    .smm_facebook .facebook_text_sec {
        text-align: left;
        margin-top: 25px;
    }
    .smm_facebook .image_center img {
        text-align: center;
        padding: 50px;
    }
    .linkedin_center {
        text-align: center;
        padding: 50px;
        margin-top: -100px !important;
    }
    .smm_dark_section {
        padding: 25px;
    }
    .smm_dark_section h2 {
        font-size: 23px;
        line-height: 31px;
    }
    .smm_dark_section p {
        font-size: 16px;
    }
    .smm_smam {
        margin-top: 38px;
    }
    .smm_box_section {
        display: grid;
    }
    .smm_box_text {
        margin-bottom: 15px;
    }
    .smm_agency_section {
        padding: 25px;
    }
    .smm_agency_text h2 {
        font-size: 26px;
        line-height: 40px;
    }
    .smm_pricing_strategy_section {
        display: grid;
        padding: 30px;
    }
    .smm_pricing_strategy {
        width: 100%;
    }
    .smm_pricing_strategy_text {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .smm_pricing_strategy_text h2 {
        font-size: 26px;
        padding: 20px 0;
    }
    .smm_texttt {
        padding-bottom: 30px;
    }
    .smm_agency_section p {
        padding-bottom: 30px;
        padding-right: 10px;
    }
    .social_media_marketting br{
        display: none;
    }
}
@media (min-width: 1900px){
    .social_media_marketting{
        .smm_background_section {
            padding: 135px 250px;
        }
        .smm_dark_section {
            width: 1380px;
            margin: 0 auto;
        }
        .dark_section_background {
            background-color: black;
        }
        .smm_pricing_strategy_section {
            width: 1380px;
            margin: 0 auto;
        }
    }
}