.dedicated_background_section {
    padding: 60px 140px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        font-size: 44px;
        color: black;
        line-height: 55px;
    }
    p {
        font-size: 16px;
    }
    .fa-check-circle:before {
        color: #702f7e;
    }
}
.dedi_host {
    background-color: white;
}
.secure_dedicated_background_section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        color: white;
        text-align: center;
        padding-top: 140px;
        font-size: 50px;
        line-height: 50px;
    }
    p {
        color: white;
        text-align: center;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 140px;
    }
}

.table_sec {
    width: 80%;
}
.dedicated_hosting {
    .process_table_business {
        .process_table_three h3 {
            font-size: 22px;
        }
    }
    .second_table_dedicate {
        padding-bottom: 140px
    }
    .secondtextsec p {
        width: 100%;
    }
    .sectionthree p {
        text-align: center;
    }
    .digitalmarketting_section {
        height: 246px;
        padding-top: 30px;
    }
    @media screen and (min-width: 992px){
    .partner_section img {
        width: 33.3333%;
        padding: 0px;
        margin-left: 0px;
        }
    }
    .table_sec::before {
        top: 19%;
    }
    .purchase li {
        display: inline-block;
        width: 31.333%;
        margin: 5px;
    }
    .table_sec::before {
        display: none;
    }
    .purchase li:first-child {
        right: 0px;
    }
    ul.table_content {
        font-size: 13px;
    }
    .purchase li:last-child {
        
        left: 0px;
        
    }
    .purchase ul>li:hover {
        background-color: #310c39 !important;
    }
    .purchase ul>li:hover .table_details {
        color: white;
    }
    .purchase ul>li:hover .feature-item {
        background-color: #310c39;
        color: white;
    }
    .purchase ul>li:hover .feature-item:nth-child(odd) {
        background-color: #481b52 !important;
    }
    .purchase ul>li:hover .bottom_dashed:nth-child(odd) {
        background-color: #481b52 !important;
        color: white;
    }
    .purchase ul>li:hover .bottom_dashed {
        background-color: #310c39;
        color: white;
    }
    .purchase ul>li:hover .feature-item {
        transform: scale(1.0);
    }
    .purchase ul>li:hover .bottom_dashed {
        transform: scale(1.0);
    }
    .purchase li:hover {
        transform: scale(1.1);
        z-index: 99;
    }
}
@media (max-width: 767px){
    .dedicated_hosting {
        .dedicated_background_section {
            padding: 40px 10px;
            h2 {
                font-size: 30px;
                color: black;
                line-height: 40px;
            }
        }
        h2.web_hosting_h2 {
            font-size: 30px;
            padding-top: 50px;
            line-height: 40px;
        }
        // .purchase li:first-child {
        //     margin-bottom: 40px;
        // }
        .mid_table {
            margin-bottom: 40px;
        }
        .secure_dedicated_background_section {
            br{
                display: none;
            }
            h2 {
                padding-top: 50px;
                font-size: 30px;
                line-height: 38px;
            }
            p {
                color: white;
                text-align: center;
                font-size: 17px;
                padding-top: 10px;
                padding-bottom: 140px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .businessstationary .businessstationary_process h2 {
            padding-top: 50px;
        }
        .secure_dedicated_background_section p {
            padding-bottom: 50px;
        }
        .second_table_dedicate {
            padding-bottom: 50px;
        }
        .secondtextsec h2 {
            padding-top: 50px;
        }
        span.slidertext_color {
            color: #702f7e;
        }
        .digitalmarketting_section {
            height: 100%;
        }
        .partner_section img {
            width: 100%;
            text-align: center;
        }
        img.first_dedi_img {
            padding-left: 27px;
        }
        .purchase li {
            width: 95% !important;
        }
        .partner_section img {
            margin-left: 0px;
        }
    }
}
@media (min-width: 1900px){
    .dedicated_hosting {
    .dedicated_background_section .font_text p {
        margin: 0;
    }
    .dedicated_background_section .font_text {
        margin-left: 180px;
    }
    .dedicated_background_section h2 {
        margin-left: 180px;
    }
    .dedicated_background_section p {
        margin-left: 180px;
    }
    .bestplan_section_background {
        background-color: black;
    }
}
}