.contactusform_container {
    background-color: #220629;
}
.contactusform{
    max-width: 900px;
    margin: 0 auto;
    // padding-bottom: 100px;
    text-align: left;
}
.contactusform h2 {
    color: white;
    font-size: 50px;
    font-family: 'Montserrat';
    padding-top: 50px;
}
.contactusform p {
    font-size: 22px;
    padding-top: 11px;
    color: #f7941e;
    font-weight: 700;
}
.contactusform input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
  // border-bottom: solid 1px #592565;
  color: white;
	// font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	// margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    resize: none;
}
form {
    padding-top: 15px;
}
option {
  color: white;
  background-color: #220629;
}
select, textarea::placeholder {
  color: white !important;
}
.contactusform input#name_input::placeholder, input#email_input::placeholder,select#subject_input::placeholder,input#telephone_input::placeholder {
  color: white;
}
.submit input#form_button {
  padding: 13px;
  text-transform: uppercase;
  border: none;
  background-color: #f7941e;
  font-weight: 800;
  letter-spacing: 1px;
}
@media (max-width: 767px){
  .contactusform {
    max-width: 900px;
    margin: 0 auto;
    // padding: 0px 0 100px 40px;
}
.container_dm button.btn_table {
  margin-bottom: 0px !important;
}
.contactusform h2{
  padding-top: 0px;
}
input[type='text'], [type='email'], select, textarea {
  width: 90%;
  
}
.contactusform h2 {
  font-size: 30px;
}
.contactusform p {
  font-size: 20px;
  padding-top: 2px;
  color: #f7941e;
  font-weight: 700;
}
}

// .focus-input2 {
//   position: absolute;
//   display: block;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   pointer-events: none;
// }
// .focus-input2::before {
//   content: "";
//   display: block;
//   position: absolute;
//   bottom: -2px;
//   left: 0;
//   width: 0;
//   height: 2px;
//   -webkit-transition: all 0.4s;
//   -o-transition: all 0.4s;
//   -moz-transition: all 0.4s;
//   transition: all 0.4s;
//   background: rgba(219,21,99,1);
//   background: -webkit-linear-gradient(
// 45deg
// , #d5007d, #e53935);
//   background: -o-linear-gradient(45deg, #d5007d, #e53935);
//   background: -moz-linear-gradient(45deg, #d5007d, #e53935);
//   background: linear-gradient(
// 45deg
// , #d5007d, #e53935);
// }
// input.input2 + .focus-input2::after {
//   top: 16px;
//   left: 0;
// }
// .focus-input2::after {
//   content: attr(data-placeholder);
//   display: block;
//   width: 100%;
//   position: absolute;
 
//   font-family: Poppins-Regular;
//   font-size: 13px;
//   color: #999999;
//   /* line-height: 1.2; */
//   /* -webkit-transition: all 0.4s; */

//   /* transition: all 0.4s; */
// }



.container_dm {
  .bg-contact2 {
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .container-contact2 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: #220629;
    // background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    // background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    // background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    // background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
  }
  
  .wrap-contact2 {
    width: 900px;
    // background: #fff;
    border-radius: 10px;
    overflow: hidden;
    // padding: 72px 55px 90px 55px;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  
  .contact2-form {
    width: 100%;
  }
  
  .contact2-form-title {
    display: block;
    font-family: 'Montserrat';
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 45px;
  }
  
  
  
  /*------------------------------------------------------------------
  [  ]*/
  
  .wrap-input2 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }
  
  .input2 {
    display: block;
    width: 100%;
    text-transform: capitalize;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    background-color: transparent;
    border: none;
  }
  
  .focus-input2 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input2::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #f7941e;
    background: -webkit-linear-gradient(45deg, #f7941e, #e53935);
    background: -o-linear-gradient(45deg, #f7941e, #e53935);
    background: -moz-linear-gradient(45deg, #f7941e, #e53935);
    background: linear-gradient(45deg, #f7941e, #e53935);
  }
  
  .focus-input2::after {
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
  
    font-family: 'Montserrat';
    font-size: 13px;
    color: white;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  /*---------------------------------------------*/
  input.input2 {
    height: 45px;
  }
  
  input.input2 + .focus-input2::after {
    top: 16px;
    left: 0;
    color: white;
  }
  
  textarea.input2 {
    min-height: 115px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  
  textarea.input2 + .focus-input2::after {
    top: 16px;
    left: 0;
  }
  
  .input2:focus + .focus-input2::after, .input2.fill + .focus-input2::after {
    top: -13px;
  }
  
  .input2:focus + .focus-input2::before {
    width: 100%;
  }
  
  .has-val.input2 + .focus-input2::after {
    top: -13px;
  }
  
  .has-val.input2 + .focus-input2::before {
    width: 100%;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
  }
  
  .wrap-contact2-form-btn {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .contact2-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #220629;
    // background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    // background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    // background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    // background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
    top: 0;
    left: -100%;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact2-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
  
   
  
    font-family: 'Montserrat';
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    
  
  }
  
  .wrap-contact2-form-btn:hover .contact2-form-bgbtn {
    left: 0;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 576px) {
    .wrap-contact2 {
      padding: 72px 15px 90px 15px;
    }
  }
  
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
  
    font-family: 'Montserrat';
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  button.btn_table {
    margin-bottom: 100px;
  } 
}

.success_msg{
  border: 1px solid #f7941e;
  color: #f7941e;
  padding: 9px;
}

.danger_msg{
  border: 1px solid red;
  color: red;
  padding: 9px;
}
