p.para_background_linux {
    color: white;
    width: 66%;
}
h2.background_header_text {
    color: white;
}
.linux_server{
    p.linux_para {
        padding-bottom: 140px;
    }
    .smm_img_text_section {
        width: 50%;
    }
    .smm_texttt {
        padding-left: 0px;
    }
    .section_two {
        background-color: white;
    }
    .secondtextsec h2 {
        color: black;
    }
    .secondtextsec p {
        color: black;
    }
    .lefttextsec h2 {
        color: black;
    }
    .lefttextsec p {
        color: black;
    }
    .table_pricing li {
        background-color: white;
    }
    
    
}
@media (max-width: 767px){
    .linux_server {
        .smm_img_text_section {
            width: 100%;
        }
        p.linux_para br {
            display: none;
        }
        p.linux_para {
            padding: 23px 10px;
        }
        p.para_background_linux {
            color: white;
            width: 100%;
        }
        h2.background_header_text {
            color: white;
            padding-bottom: 20px;
        }
        h2.background_header_text br {
            display: none;
        }
        span.slidertext_color br {
            display: none;
        }
    }
}