.img_style {
    visibility: visible;
    animation-name: fadeInUp;
}

// @media screen and (max-width: 768px) {
//     .works {
//         padding-top: 30vw;
//     }
// }

.works .works-list {
    margin-top: 15vw;
    z-index: 50;
}

@media screen and (max-width: 768px) {
    .works .works-list {
        margin-top: 30vw;
    }
    .dont_section{
        display: none;
    }
}

.works-list-item {
    padding-bottom: 7vw;
}

@media screen and (max-width: 768px) {
    .works-list-item {
        padding-bottom: 8vw;
    }
}

.works-list-item a {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .works-list-item a {
        display: block;
    }
}

.works-list-item a .works-img {
    position: relative;
    z-index: 0;
}

.works-list-item a figure {
    width: 55vw;
    z-index: 1;
    position: relative;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .works-list-item a figure {
        width: 100% !important;
    }
}

.works-list-item a .clone {
    position: absolute;
    z-index: 0;
    top: 25px;
    left: 20px;
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.5;
    transition: all 0.3s;
}

.works-list-item a .works-text {
    width: 45vw;
    color: #fff;
    margin-left: -20%;
    z-index: 10;
    mix-blend-mode: exclusion;
    transition: all 0.3s;
    top: 0px;
}

@media screen and (max-width: 768px) {
    .works-list-item a .works-text {
        width: auto;
        margin-left: 0;
        margin-top: -60px;
    }
}

.works-list-item a .works-text figcaption h2 {
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 900;
    letter-spacing: 11px;
    font-size: 5.859375vw;
    line-height: 5.859375vw;
    transition: all 0.3s !important;
    text-align: center;
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .works-list-item a .works-text figcaption h2 {
        font-size: 10.4166666667vw;
        line-height: 11.0677083333vw;
        margin-top: -5.2083333333vw;
        text-align: right;
        color: #fff;
    }
}

.works-list-item a .works-text figcaption span {
    font-family: "Montserrat";
    font-weight: 700;
    letter-spacing: 0.4;
    text-align: center;
    display: block;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    line-height: 2rem;
    margin-top: 15px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .works-list-item a .works-text figcaption span {
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        margin-top: 10px;
        text-align: right;
    }
}

.works-list-item a .works-text .works-text-detail {
    margin-top: 40px;
}

.works-list-item a .works-text .works-text-detail p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .works-list-item a .works-text .works-text-detail p {
        margin-top: 20px;
    }
}

.works-list-item a:hover figure {
    width: 50vw;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .works-list-item a:hover figure {
        width: auto;
    }
}

.works-list-item a:hover .works-text {
    width: 50vw;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .works-list-item a:hover .works-text {
        width: auto;
    }
}

.works-list-item a:hover figcaption h2 {
    color: #fff;
    transition: 0.3s;
    letter-spacing: 0.08em;
}

@media screen and (max-width: 768px) {
    .works-list-item a:hover figcaption h2 {
        letter-spacing: 0.02em;
    }
}

.works-list-item a:hover .clone {
    width: 45vw;
    top: 100px;
    left: 100px;
    transition: 0.3s;
    pointer-events: none;
}

.works-list-item a figure {
    width: 55vw;
    z-index: 1;
    position: relative;
    transition: all 0.3s;
}

li.works-list-item.section {
    list-style: none;
}

img.attachment-360x240x1.size-360x240x1.wp-post-image {
    width: 100%;
}

.l-container {
    margin: 0 auto;
    position: relative;
    padding-left: 13.0208333333vw;
    padding-right: 13.0208333333vw;
    // min-width: 1080px;
}
@media screen and (min-width: 992px){
    .l-container {
        min-width: 1080px;
    }
    .right_img {
        margin-left: -230px;
    }
    figcaption.wow.fadeInUp {
        margin-left: 54px;
    }
    
    .left_img {
        padding-left: 144px;
    }
}





.left_img h2 {
    text-align: right !important;
    margin-right: 80px;
}

.left_img span {
    text-align: right !important;
    margin-right: 80px;
}

.last_sec {
    margin-left: -100px !important;
}

.cb-tagreel {
    position: relative;
}

@media (min-width: 360px) {
    .cb-tagreel-content {
        padding: 70px 0;
    }
}

.cb-tagreel-content {
    padding: 60px 0;
}

@media (min-width: 1200px) {
    .cb-tagreel-items {
        margin: -34px 0;
    }
}

@media (min-width: 768px) {
    .cb-tagreel-items {
        margin: -31px 0;
    }
}

.cb-tagreel-items {
    margin: -28px 0;
    /*   overflow: hidden;
*/
    cursor: default;
}

.cb-tagreel-row {
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.cb-tagreel-item.-stroke {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px rgba(0, 0, 0, .2);
}

.cb-tagreel-item.-stroke {
    color: #fff; // text-shadow: -1px -1px 0 rgb(0 0 0 / 20%), 1px -1px 0 rgb(0 0 0 / 20%), -1px 1px 0 rgb(0 0 0 / 20%), 1px 1px 0 rgb(0 0 0 / 20%);
    font-weight: 400;
}

@media (min-width: 1200px) {
    .cb-tagreel-item {
        padding: 34px 0;
        width: 33.33%;
    }
}

@media (min-width: 768px) {
    .cb-tagreel-item {
        padding: 31px 0;
        font-size: 60px;
    }
}

.cb-tagreel-item {
    position: relative;
    display: inline-block;
    padding: 28px 0;
    width: 50%;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -.03em;
}

.cb-tagreel-item span {
    display: inline-block;
    position: relative;
    z-index: 1;
}

marquee {
    z-index: 99999;
}

.marquee {
    width: 100%;
    line-height: 50px;
    /*   background-color: red;*/
    /*    color: white;*/
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    /* the 9s is the time it takes to go from RtoL */
}

@keyframes marquee {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-100%);
    }
}

.strategy {
    transform: translate3d(-12.0971%, 0px, 0px);
    will-change: auto;
}

.design {
    transform: translate3d(-38.1218%, 0px, 0px);
    will-change: auto;
}

.development {
    transform: translate3d(-14.8156%, 0px, 0px);
    will-change: auto;
}

.marketting {
    transform: translate3d(-38.0971%, 0px, 0px);
    will-change: auto;
}

.main {
    background-color: #230729;
}

.first h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 40px;
    font-family: 'Montserrat';
}

.digital_section {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.digital_section img {
    max-width: 70% !important;
}

.img1 {
    height: 170px;
    border-right: 1px solid #5a2565;
    padding: 10px 25px 0 50px;
}

.img2,
.img3 {
    padding: 10px 25px 0 50px;
    border-right: 1px solid #5a2565;
}

.img4 {
    padding: 10px 25px 0 50px;
}

.digital_section img {
    padding-top: 20px;
}

p.digital_txt {
    text-align: center;
    line-height: 18px;
    margin-left: -32px;
    color: white;
}

.img2 img {
    width: 80px;
    margin-left: 28px;
}

.img1 img {
    margin-top: 15px;
}

.img4 img {
    margin-top: 7px;
}

// .second_image, .third_image{
//     display: none;
// }
.images_section {
    position: relative;
    text-align: center;
    margin: 100px auto 95px auto;
    height: 650px;
    max-width: 1170px;
}

.single_image {
    position: absolute;
    top: 0;
    left: 0;
}

.text_section {
    position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images_section img {
    width: 100%;
}

.text_section p {
    font-size: 75px;
    font-family: '! PEPSI !';
    color: white;
    -webkit-text-stroke: 1px #230729;
}

.text_div {
    display: flex;
    position: absolute;
    column-gap: 38px;
}

.text_div p:hover {
    color: #f7941e;
    cursor: pointer;
}

.partner_section {
    padding-bottom: 60px;
}

.partner_section h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b962cc;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.partner_section h2 span {
    background: #fff;
    padding: 0 10px;
    font-family: '! PEPSI !' !important;
    letter-spacing: 2px;
}

@media screen and (min-width:992px){
    .partner_section img {
        width: 176px;
        padding: 12px; // height: 83px;
        margin-left: 25px;
    }
}
@media screen and (max-width:768px){
    .partner_section img {
        width: 152px;
        padding: 12px;
        margin-left: 19px;
    }
}

.partner_section ul {
    display: flex;
    transform: translate(7%, 50%);
    margin-bottom: 20px;
}

// .partner_section {
//     height: 300px;
// }

.partner_images {
    max-width: 1260px;
    margin: 0 auto;
    display: table;
}
@media screen and (max-width: 768px){
.l-container {
    min-width: auto;
    width: auto;
    padding-left: 6.5104166667vw;
    padding-right: 6.5104166667vw;
}

.result_focus_section {
    padding: 50px 0px;
}
.partner_section {
    padding: 40px 0px;
}
// .works-list-item {
//     padding-bottom: 20vw;
// }
// .works-img.right_img {
//     position: relative;
//     left: 120px;
// }
// .text_left h2 {
//     text-align: left !important;
// }
// .text_left span {
//     margin-right: 115px;
// }
// .works-img.right_img {
//     top: -60px;
// }
// .works-list-item a .works-img {
//     z-index: -1;
// }
.left_img h2 {
    margin-right: 0px;
}
.left_img span {
    margin-right: 0px;
}
.first h2 {
    font-size: 23px;
    line-height: 28px;
}
.digital_section {
    display: block;
}
.img1, .img2, .img3, .img4 {
    text-align: center;
}
.img2 img {
    margin-left: 0px;
    margin-top: 7px;
}
.img1:after, .img2:after, .img3:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    margin-top: 11px;
    background: #f7941e;
    left: 20px;
}
.img1, .img2, .img3, .img4 {
    padding: 20px;
}
p.digital_txt {
    margin-left: 0px;
}
.img1 img {
    margin-top: 0px;
}
}