.cloud_backup{
    h2.sectthreee_heading {
        text-align: left;
        padding: 110px 110px 50px 110px;
    }
    p.linux_para {
        text-align: left;
        padding: 0px 110px 110px 110px;
    }
    .windows_server .backorder_services_why h2.sectthreee_heading {
        text-align: center;
    }
    .windows_server {
        background-color: #f2f1ef;
    }
    .smm_box_text {
        background-color: white;
    }
    .vps_hosting .smm_agency_section .datacenter_para {
        width: 180%;
    }
    .section_width_fifty {
        width: 50%;
    }
    .right_image {
        width: 50%;
        padding-top: 125px;
    }
    h2.sectthreee_heading.mobile_stationary {
        padding: 0px;
        color: white;
        font-weight: 700;
    }
    .google_ad .dedicated_background_section {
        background-color: #6962da;
    }
    .google_ad p.para_background_linux {
        color: white;
    }
    .dedicated_background_section {
        padding: 100px 140px;
    }
    .background_white {
        background-color: white !important;
    }
    .cloud_backup_solutions {
        background-color: black;
        padding: 110px;
    }
    .cloud_backup_solutions h2 {
        color: white;
        font-size: 50px;
        text-align: center;
        line-height: 55px;
        padding-bottom: 40px;
        
    }
    .text_right_left_under {
        display: flex;
        justify-content: center;
        column-gap: 59px;
        padding-bottom: 10px;
        i.far.fa-check-circle {
            font-size: 17px;
        }
        .check_text {
            display: flex;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            padding: 13px 3px;
            min-width: 510px;
        }
        p.text {
            color: white;
            font-size: 16px;
        }
    }
    .windows_server p.text_ccenter_align {
        padding-bottom: 100px;
    }
}
@media (max-width: 767px){
    .cloud_backup{
        span.slidertext_color br {
            display: none;
        }
        span.slidertext_color {
            color: white;
        }
        h2.sectthreee_heading {
            text-align: left;
            padding: 10px;
        }
        h2.sectthreee_heading br {
            display: none;
        }
        p.linux_para {
            padding: 10px;
        }
        .windows_server .backorder_services_why h2.sectthreee_heading {
            text-align: center;
            line-height: 35px;
            padding-top: 50px;
        }
        p.text_ccenter_align br {
            display: none;
        }
        .smm_agency_text span.slidertext_color {
            color: #702f7e;
        }
        .dedicated_background_section {
            padding: 50px 10px;
        }
        .right_image {
            width: 100%;
            padding-top: 40px;
        }
        .sectthreee_heading span.slidertext_color {
            color: #702f7e;
        }
        .windows_server h2.sectthreee_heading {
            line-height: 35px;
            padding-top: 50px;
        }
        p.text_ccenter_align br {
            display: none;
        }
        .cloud_backup_solutions {
            padding: 50px 10px;
            h2 {
                font-size: 30px;
                line-height: 40px;
                padding-bottom: 40px;
            }
        }
        .text_right_left_under {
            display: grid;
            grid-gap: 10px;
        }
        .text_right_left_under .check_text {
            min-width: 100px;
            p.text br {
                display: none;
            }
        }
        .backorder_services_why .below_sec {
            padding-top: 0px;
            padding-bottom: 45px;
        }
        .windows_server p.text_ccenter_align {
            padding-bottom: 15px;
        }
        .smm_agency_text h2 br {
            display: none;
        }
    }
}
@media (min-width: 1900px){
    .backorder_services_why {
        width: 1380px;
        margin: 0 auto;
    }
    .google_ad p.para_background_linux {
        color: black;
        width: 75%;
    }
    .datacenter_para {
        width: 155% !important;
    }
}