.windows_server{
    h1.slider_text {
        font-size: 52px;
    }
    .businessstationary .creativity_section .text_sectionn p {
        max-width: 100%;
        padding: 0px 18px;
        font-size: 18px;
    }
    h2.sectthreee_heading {
        line-height: 56px;
    }
    h2.slider_text {
        font-size: 53px;
    }
    .businessstationary .creativity_section .text_sectionn {
        padding: 0px 100px 140px 100px;
    }
    .businessstationary .creativity_section h2 {
        text-align: left;
        padding: 100px 100px 30px 110px;
    }
    .smm_img_text_section {
        width: 50%;
    }
    p.text_ccenter_align {
        text-align: center;
        padding-bottom: 50px;
        font-size: 18px;
    }
    .backorder_services_why .box_section .smm_box_text .smm_arrow._text {
        padding: 15px 0px;
    }
    h2.sectthreee_heading {
        padding: 100px 0 12px 0;
    }
    .smm_arrow._text p {
        font-weight: 700;
    }
    
}
@media (max-width: 767px){
    .windows_server{
        h2.slider_text {
            font-size: 22px !important;
        }
        h2.slider_text br {
            display: none;
        }
        .businessstationary .creativity_section h2 {
            text-align: left;
            padding: 25px;
            font-size: 22px;
            line-height: 32px;

        }
        .businessstationary .creativity_section .text_sectionn {
            padding: 10px 10px 29px 10px;
        }
        .smm_img_text_section {
            width: 100%;
        }
        .smm_texttt {
            padding-left: 0px;
        }
        .backorder_services_why {
            padding: 0px 10px 0px 10px;
        }
        h2.sectthreee_heading {
            padding: 35px 0 0px 0;
        }
    }

}
@media (min-width: 1900px){
    .windows_server{
    .businessstationary {
        width: 1380px;
        margin: 0 auto;
    }
    .windows_server .businessstationary .creativity_section h2 {
        text-align: left;
        padding: 100px 100px 30px 20px;
    }
    .windows_server .businessstationary .creativity_section .text_sectionn {
        padding: 35px 100px 140px 0px;
    }
}
}