span.purple_color {
    color: #702f7e;
}
.leading_section{
    display: flex;
    // max-width: 1500px;
    margin: 0 auto;
    h2 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 800;
    }
    .right_section {
        max-width: 50%;
        padding: 105px 80px 15px 52px;
        margin-bottom: 100px;
        p {
            font-size: 18px;
        }
    }
    .left_section {
        max-width: 50%;
        padding: 100px 0px 100px 95px;
    }
    span.title_section_h2 {
        color: #f7941e;
    }
}
.design_experiance {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 676px;
    .text_experiance{
        max-width: 50%;
        padding: 110px 13px 100px 103px;
         h2 {
        font-size: 50px;
        line-height: 55px;
        color: white;
        }
        p {
            font-size: 21px;
            color: white;
            padding-top: 10px;
        }
    }
}
.numbering_section {
    display: flex;
    // max-width: 1349px;
    justify-content: center;
    background-color: #798181;
    height: 180px;
    margin: 0 auto;
    .first_col {
        text-align: center;
        h2 {
            color: #f7941e;
            font-size: 80px;
            padding: 55px 50px 23px 50px;
        }
        p {
            color: white;
            font-weight: 500;
        }
    }
    .line{
        border-right: 1px solid #959292;
        height: 76%;
        margin-top: 20px;
    }
    .line2{
        margin-top: 20px;
    }

}
h2.heading_feature {
    padding-top: 140px;
    text-align: center;
    font-size: 50px;
}
.feature_images {
    // max-width: 1260px;
    margin: 0 auto;
    display: table;
    padding-top: 40px;
    img {
        border: 1px solid #030303;
        margin: -7px 10px;
        padding: 34px;
        height: 115px;
        width: 210px;
    
    }
}
.best_webdesign {
    h2 {
        text-align: center;
        font-size: 50px;
        line-height: 55px;
        padding-top: 100px;
    }
    p {
        text-align: center;
        padding-top: 10px;
        font-size: 16px;
    }
}
.web_design{
    
    .web_hosting{
        
            // max-width: 1500px;
            margin: 0 auto;
        
        .react-tabs__tab-list {
            width: 35%;
        }
        .react-tabs__tab-panel {
            width: 65%;
        }
        .imgandtext_tab {
            display: flex;
        }
        .imgandtext_tab img {
            width: 270px;
        }
        .panel-content p {
            padding-left: 13px;
            padding-top: 0px;
        }
        .react-tabs {
            display: flex;
            color: white;
            background: white;
            margin-top: 15px;
            margin-bottom: 100px;
        }
    }
}
.pocket_friendly_design_plan {
    padding: 100px;
    // max-width: 1500px;
    margin: 0 auto;
    background-color: #f2f1ef;
    h2.design_plan_h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .design_table {
        border: 1px solid;
        color: black;
        background-color: white;
        padding: 50px;
        h3 {
            padding-bottom: 11px;
        }
        span.purple_color {
            color: #702f7e;
            font-weight: 700;
        }
    }
}
.design_plan_table {
    margin-top: 40px !important;
}
.project_business {
    // max-width: 1500px;
    margin: 0 auto;
    h2 {
        text-align: center;
        font-size: 45px;
        line-height: 50px;
        padding-top: 100px;
    }
    p {
        text-align: center;
    }
    i.fa.fa-phone {
        padding-right: 9px;
    }
    .btns_align {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 100px;
    }
}

button.purple_btn_digitalmarketting {
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  button.purple_btn_digitalmarketting a {
    position: relative;
    z-index: 100;
    color: white;
    padding: 0px 8px;
  }
  button.purple_btn_digitalmarketting:before, button.purple_btn_digitalmarketting:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  button.purple_btn_digitalmarketting:before {
    transform: translate3d(-100%, 0, 0);
    background-color: white;
    border: 1px solid white;
    transition: transform 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  button.purple_btn_digitalmarketting:after {
    background-color: black;
    border: 1px solid black;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms 300ms cubic-bezier(0.16, 0.73, 0.58, 0.62);
  }
  button.purple_btn_digitalmarketting:hover:before {
    transform: translate3d(0, 0, 0);
  }
  button.purple_btn_digitalmarketting:hover:after {
    transform: translate3d(0, 0, 0);
  }
  button.purple_btn_digitalmarketting {
    background-color: #702f7e;
    padding: 12px;
}

@media (max-width: 767px){
    .popup-content {
        width: 80%;
        margin-top: 32% !important;
        .container_dm .wrap-contact2 {
            padding: 0px 15px 0px 15px;
        }
        .container_dm .container-contact2 {
            min-height: 70vh;
        }
        
    }
    h1.slider_text br {
        display: none;
    }
    .web_design{
        h1.slider_text {
            font-size: 28px !important;
        }
        .leading_section {
            display: grid;
            .left_section {
                max-width: 100%;
                padding: 15px;
            }
            h2 {
                font-size: 30px;
                line-height: 43px;
            }
            .right_section {
                max-width: 100%;
                padding: 15px;
                margin-bottom: 50px;
            }
        }
        .design_experiance {
            background-position: left;
            background-size: 1360px 660px;
            .text_experiance {
                max-width: 100%;
                padding: 15px;
                h2 {
                    font-size: 30px;
                    line-height: 45px;
                    color: white;
                    padding-top: 35px;
                }
                
            }
        }
        .numbering_section {
            display: grid;
            justify-content: center;
            background-color: #798181;
            height: 100%;
            margin-top: -133px;
            .first_col.line:after {
                content: '';
                position: absolute;
                width: 90%;
                height: 1px;
                margin-top: 11px;
                background: #e1e0e0;
                left: 20px;
            }
            .first_col h2 {
                color: #f7941e;
                font-size: 80px;
                padding: 37px;
            }
        }
        .feature_projects{
            h2.heading_feature {
                padding-top: 75px;
                text-align: center;
                font-size: 33px;
            }
            .feature_images img {
                border: 1px solid #030303;
                margin: 10px;
                padding: 34px;
                height: 115px;
                width: 352px;
            }
        }
        span.slidertext_color {
            color: #702f7e;
        }
        .best_webdesign {
            h2 {
                text-align: center;
                font-size: 27px;
                line-height: 35px;
                padding-top: 100px;
            }
        }
        .web_hosting .react-tabs__tab-list {
            width: 100%;
        }
        .web_hosting .react-tabs__tab-panel {
            width: 100%;
        }
        .web_hosting .react-tabs {
            display: grid;
            color: white;
            background: white;
            margin-top: 15px;
            margin-bottom: 100px;
        }
        .web_hosting .imgandtext_tab {
            display: grid;
        }
        .web_hosting .react-tabs p {
            font-size: 25px;
        }
        .pocket_friendly_design_plan {
            padding: 20px;
            h2.design_plan_h2 {
                font-size: 26px;
                line-height: 37px;
                padding-top: 35px;
                padding-bottom: 30px;
            }
        }
        .project_business {
            h2 {
                text-align: center;
                font-size: 27px;
                line-height: 37px;
                padding-top: 60px;
            }
            p {
                padding: 9px;
            }
            button.purple_btn_digitalmarketting {
                background-color: #702f7e;
                padding: 12px;
                margin: 10px;
            }
        }
        
    }
}
@media (min-width: 1900px){
    .web_design{
        .pocket_friendly_design_plan {
            width: 1225px;
        }
        .pocket_friendly_background {
            background-color: #f2f1ef;
        }
        .web_hosting {
            margin: 0 auto;
            width: 1280px;
        }
        .leading_section {
            width: 1280px;
        }
        .design_experiance .text_experiance {
            max-width: 34%;
            padding: 110px 13px 100px 103px;
            margin-left: 222px;
        }
    }
}

// .popup-content {
//     width: 50% !important;
//     left: 26% !important;
//     top: 4230.08px !important;
// }
@media (min-width: 900px){
.popup-content{
    margin-top: 7% !important;
    .container_dm .wrap-contact2 {
        width: 550px;
        border-radius: 10px;
        overflow: hidden;
        height: auto;
    }
    .container_dm .container-contact2 {
        padding: 0;
    }
    .container_dm button.btn_table {
        margin-bottom: 35px !important;
    }
    .container_dm .wrap-input2 {
        margin-bottom: 15px;
    }
    .container_dm .contact2-form-title {
        padding-bottom: 10px;
    }
    .contactusform h2 {
        padding-top: 30px !important;
    }
    .container_dm .container-contact2 {
        min-height: 80vh !important;
    }
}
}