.businessemailsolutionfaq{
    background-color: #f2f1ef;
}
@media (min-width: 1900px){ 
    .businessemailsolutionfaq {
    background-color: #f2f1ef;
    width: 1380px;
}
.full_width_background_faq {
    background-color: #f2f1ef;
}
.digitalmarkettingfaq {
    width: 1380px;
}
}
@media (max-width: 767px){
.digitalmarkettingfaq {
    width: 100%;
}
}