$font-family: 'Montserrat';


.backgroundimg_regis {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
form.domain_search_form {
    display: flex;
    justify-content: center;
    padding: 230px 0;
}
.domain_search_form input[type="text"] {
    padding: 6px;
    font-size: 30px;
    width: 700px;
    border-style: none;
    box-shadow: -3px 1px 9px 3px #f7941e;
}
.domain_search_form button {
    background-color: #f7941e;
    border-style: none;
    padding: 15px 47px;
    font-family: $font-family;
    font-size: 19px;
    box-shadow: 3px 1px 9px 3px #f7941e;
}
.fa-search:before {
    font-size: 15px;
    padding-right: 5px;
}
span.heading_color {
    color: #f7941e;
}
span.underline_heading {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: #702f7e;
}
h2.sectthreee_heading {
    text-align: center;
    padding: 100px 0 40px 0;
    font-size: 50px;
    line-height: 55px;
    font-family: $font-family;
}
.digitalmarketting_section h3 {
    font-size: 22px;
    padding-top: 10px;
}
.domainsearch_btn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
}
.domainsearch_btn button {
    background-color: black;
    color: white;
    border-style: none;
    padding: 11px 40px;
    text-transform: uppercase;
    font-family: $font-family;
}
.confess_text h2 {
    color: white;
    font-size: 50px;
    line-height: 60px;
    font-family: $font-family;
    font-weight: 800;
}
.confess_text p {
    color: white;
    font-family: $font-family;
    padding-top: 30px;
}
.confess_text {
    width: 50%;
    padding: 90px;
}
.confess_section {
    background-color: #702f7e;
    display: flex;
}
.confess_section_background {
    background-color: #702f7e;
}
.confess_img {
    width: 50%;
    padding: 70px;
}
.domain_extension_section h2 {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-family: $font-family;
    font-weight: 800;
}
.domain_extension_section {
    margin-top: 150px;
}
.domain_extension_section p {
    text-align: center;
    font-size: 24px;
    font-family: $font-family;
    padding-top: 10px;
    font-family: $font-family;
}
.tabs_domain {
    margin-top: 55px;
}
.domain_extension_section .react-tabs {
    text-align: center;
}
.domain_extension_section .react-tabs__tab--selected {
    background: #702f7e;
    border-color: #702f7e;
    color: white;
    border-radius: 0px;
}
.tabs_domain .react-tabs__tab {
    border: 1px solid #702f7e;
    border-bottom: 1px solid #702f7e;
    padding: 20px 110px;
    font-size: 30px;
    font-family: $font-family;
    font-weight: 600;
    transition: 0.5s;
}
.tabs_domain .react-tabs__tab-list {
    border-bottom: 1px solid transparent;
}
.tabs_domain .tabs_text {
    width: 1042px;
    margin: 0 auto;
    text-align: left;
    // padding-top: 65px;
}
.tabs_text p {
    text-align: left;
    font-size: 16px;
}
.tabs_section_custom {
    display: flex;
    width: 1043px;
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 100px;
}
.tabs_text {
    width: 60%;
}
.tabs_table {
    width: 40%;
}
.tabs_table ul {
    border: 1px solid #702f7e;
    text-align: left;
    font-family: $font-family;
}
.tabs_table li:first-child {
    background-color: #f7941e;;
    padding: 9px;
    color: black;
    font-weight: 700;
}
.tabs_table li:nth-child(2) {
    padding: 9px 20px;
}
.tabs_table li:nth-child(3) {
    padding: 9px 20px;
}
span.textbold_tabs {
    font-weight: 800;
    color: black;
}
.manage_domain_section h2 {
    font-size: 50px;
    color: white;
    line-height: 60px;
}
.manage_domain_section p {
    font-size: 16px;
    color: white;
    padding-top: 20px;
}
.text_manage_domain {
    width: 59%;
    padding: 90px;
}

@media (max-width: 767px){
    .confess_section {
        width: 100%;
    }
    form.domain_search_form {
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }
    .domain_search_form input[type="text"] {
        padding: 3px;
        font-size: 30px;
        width: 191px;
        border-style: none;
        box-shadow: -1px 1.5px 9px 3px #f7941e;
    }
    .domain_search_form button {
        background-color: #f7941e;
        border-style: none;
        padding: 3px 9px;
        font-family: "Montserrat";
        font-size: 12px;
        box-shadow: 3px 1px 9px 3px #f7941e;
    }
    .domain_search_form input[type="text"]::placeholder {
        font-size: 18px;
        padding-left: 10px;
    }
    h2.sectthreee_heading {
        text-align: center;
        padding: 45px 0px 17px 0;
        font-size: 25px;
        line-height: 30px;
        font-family: "Montserrat";
    }
    .confess_section {
        display: block;
    }
    .confess_text {
        width: 100%;
        padding: 40px;
    }
    .confess_text h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .confess_text p {
        font-size: 16px;
    }
    .confess_img {
        width: 100%;
        padding: 30px;
    }
    .domain_extension_section {
        margin-top: 65px;
    }
    .domain_extension_section h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .tabs_domain .react-tabs__tab {
        padding: 10px;
        margin: 6px;
        font-size: 17px;
    }
    .tabs_section_custom {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 100px;
        padding: 24px;
    }
    .tabs_domain .tabs_text {
        width: 100%;
    }
    .tabs_table {
        width: 100%;
        padding-top: 25px;
    }
    .text_manage_domain {
        width: 100%;
        padding: 25px;
    }
    .manage_domain_section h2 {
        font-size: 26px;
        line-height: 36px;
    }
}
@media (min-width: 1900px){ 
.manage_domain_section_background {
    background-color: black;
}
.manage_domain_section {
    width: 1380px;
    margin: 0 auto;
}
.confess_section {
    width: 1380px;
    margin: 0 auto;
}
.confuse_background {
    background-color: #702f7e;
}
.manage_background {
    background-color: black;
}
}