.website_analytics{
    h2.sectthreee_heading.mobile_stationary {
        text-align: left;
    }
    p.para_background_linux {
        color: black;
        width: 90%;
    }
    .flow_order .search_order:nth-child(1)::after, .flow_order .search_order:nth-child(2)::after, .flow_order .search_order:nth-child(3)::after {
        display: none;
    }
    .flow_order .search_order {
        max-width: 25% !important;
    }
    .flow_order {
        padding-bottom: 35px;
    }
    .scnd_table {
        padding-bottom: 130px !important;
    }
    .confess_text h2 {
        color: black;
    }
    .confess_text p {
        color: black;
    }
    .confess_text {
        width: 66%;
    }
    .confess_img {
        width: 45%;
        padding: 155px 25px;
    }
    .confess_section {
        background-color: #f2f1ef;
    }
    .confess_text p {
        padding-top: 9px;
    }
    
}
@media (min-width: 1900px){
    .website_analytics{
        .flow_order .search_order {
            max-width: 19% !important;
        }
    }
}
@media (max-width: 767px){
    .website_analytics{
        .dedicated_background_section {
            padding: 10px;
        }
        span.slidertext_color {
            color: #702f7e;
        }
        .dedicated_background_section h2 {
            font-size: 33px;
            line-height: 40px;
        }
        h2.sectthreee_heading {
            padding: 45px 10px 17px 10px;
        }
        .confess_text {
            width: 100%;
        }
        .confess_img {
            width: 100%;
            padding: 18px 25px;
        }
    }
}

@media (min-width: 1900px){
    .website_analytics{
        .dark_Section_background {
            background-color: black;
        }
        .confess_section_background {
            background-color: #f2f1ef;
        }
    }
}
