
.section_two {
    max-width: 1500px;
    margin: 0 auto;
}
.web_development{
    .wellorganized_section .text_webdevv {
        width: 35% !important;
    }
    .tickimg1, .tickimg2, .tickimg3, .tickimg {
        height: 75%;
    }
    .digitalmarketting_section {
        width: 1280px;
        margin: 0 auto;
    }
    .dark_section_background {
        background-color: black;
    }
    .development_solutions {
            max-width: 1350px;
            margin: 0 auto;
        h2 {
            font-size: 50px;
            line-height: 55px;
            padding-top: 100px;
            padding-left: 160px;
        }
        .text_dev p {
            // max-width: 50%;
            padding-left: 160px;
            font-size: 16px;
            padding-top: 25px;
        }
        .font_text p {
            padding-left: 0;
            padding-top: 8px;
        }
        i.far.fa-check-circle {
            padding-left: 160px;
        }
        .text_section_left {
            width: 67%;
        }
        .text_dev {
            display: flex;
        }
        .right_img_text {
            margin-top: 85px;
        }
        
    }
    .custom_web_development {
        background-color: #220728;
        h2 {
            color: white;
            font-size: 50px;
            line-height: 55px;
            text-align: center;
            font-weight: 800;
            padding-top: 150px;
        }
        p {
            text-align: center;
            color: white;
            font-size: 16px;
            padding-top: 10px;
        }
        .custom_img_webdev {
            text-align: center;
            padding-top: 60px;
            padding-bottom: 145px;
        }
    }
    .textandimg_sec {
        display: flex;
        padding-top: 20px;
        
        .text_webdevv {
            width: 50%;
             p {
                text-align: center;
                padding-top: 72px;
                font-size: 16px;
                padding-left: 100px;
            }
        }
        .image_webdevv {
            width: 50%;
            text-align: center;
        }
    }
    .innovative_webdev {
        max-width: 1350px;
        margin: 0 auto;
        .innovative_webdev_btn {
            text-align: center;
            padding-bottom: 140px;
        }
    }
    .wellorganized_section {
        h2 {
            font-size: 50px;
            line-height: 55px;
            text-align: center;
            padding-top: 145px;
        }
        .textandimg_sec {
            max-width: 1500px;
            margin: 0 auto;
        }
        .text_webdevv p {
            padding-left: 0;
            text-align: left;
        }
        .image_webdevv img {
            padding-bottom: 100px;
        }
    }
    .rightchoice_section {
        background-color: black;
        padding-bottom: 90px;
        h2 {
            color: white;
            text-align: center;
            font-size: 50px;
            line-height: 55px;
            padding-top: 145px;
            padding-bottom: 70px;
        }
        p.digitalmkt_txt {
            color: white;
        }
    }
    
    
}




@media (max-width: 767px){
    h2.slider_text{
        background-color: black;
    }
    span.slidertext_color {
        color: white;
    }
    h2.slider_text br {
        display: block;
    }
    .web_development{
        br{
         display: none;
        }
        h2.slider_text {
            font-size: 20px;
        }
        .development_solutions{
            h2 {
                font-size: 22px;
                line-height: 30px;
                padding-top: 10px;
                padding-left: 10px;
            }
            .text_section_left {
                width: 100%;
            }
            .text_dev {
                display: grid;
            }
            i.far.fa-check-circle {
                padding-left: 10px;
                padding-right: 10px;
            }
            .text_dev p {
                padding-left: 10px;
            }
            .right_img_text {
                margin-top: 35px;
            }
        }
        .custom_web_development{
            h2 {
                font-size: 22px;
                line-height: 35px;
                padding-top: 50px;
                padding-right: 6px;
                padding-left: 6px;
            }
            p {
                padding: 10px;
            }
            .custom_img_webdev {
                padding: 60px 10px 60px 10px;
            }
        }
        .textandimg_sec {
            display: grid;
            .image_webdevv {
                width: 95%;
            }
            .text_webdevv p {
                padding: 7px !important;
            }
        }
        .wellorganized_section h2 {
            font-size: 22px;
            line-height: 30px;
            text-align: center;
            padding-top: 50px;
        }
        .rightchoice_section h2 {
            color: white;
            text-align: center;
            font-size: 22px;
            line-height: 30px;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        
    }

}