.backorder_domain{
    .domain_search_form input[type="text"] {
        box-shadow: -3px 1px 9px 3px #9facb1;
    }
    .domain_search_form button {
        box-shadow: 3px 1px 9px 3px #9facb1;
    }
    form.domain_search_form {
        padding: 0;
    }
    .backgroundimg_regis {
        h3 {
            color: white;
            padding-top: 150px;
            padding-bottom: 20px;
            text-align: center;
            font-size: 35px;
            line-height: 35px;
        }
        p {
            text-align: center;
            font-size: 16px;
            padding: 60px 260px 100px 260px;
            color: white;
        }
    }
}
.flow_order {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-bottom: 140px;
    .search_order {
        // max-width: 25%;
        position: relative;
        min-width: 262px;
        background-color: #f1f4f4;
        text-align: center;
        padding: 35px 20px;
        transition: transform .5s;
        .circle_search{
            padding: 20px;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: white;
            width: 136px;
            height: 136px;
            margin: 0 auto;
            img{
                margin-top: 17%;
                transition: 0.3s;
            }       
        }
        h3 {
            padding-top: 15px;
            font-size: 22px;
        }
        @media screen and (min-width:769px){
            &:nth-child(1)::after{
                content: '';
                height: 156px;
                width: 159px;
                position: absolute;
                top: 9%;
                left: 79%;
                z-index: 9;
                background-image: url('../../images/arrow1.png');
            }
            &:nth-child(2)::after{
                content: '';
                height: 156px;
                width: 159px;
                position: absolute;
                top: 9%;
                left: 79%;
                z-index: 9;
                background-image: url('../../images/arrow2.png');
            }
            &:nth-child(3)::after{
                content: '';
                height: 156px;
                width: 159px;
                position: absolute;
                top: 9%;
                left: 79%;
                z-index: 9;
                background-image: url('../../images/arrow1.png');
            }
        }
        &:hover{
            .circle_search{
                img{
                    -ms-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }
    }
    
    
}
.backorder_flow{
    .arrows_flow {
        display: flex;
        position: absolute;
        top: 1470px;
        left: 345px;
    }
    .arrow2 {
        margin-left: 100px;
    }
    .arrow3 {
        margin-left: 100px;
    }
}
.backorder_services_why {
    .box_section {
        display: flex;
        column-gap: 35px;
        justify-content: center;
        p {
            text-align: center ;
            padding: 0 ;
        }
        .smm_box_text {
            width: 340px;
            .smm_arrow._text {
                justify-content: center;
            }
        }
    }
    .below_sec {
        padding-top: 35px;
        padding-bottom: 140px;
    }
}
@media (max-width: 767px){
    .backorder_domain {
        br {
            display: none;
        }
        .backgroundimg_regis {
            h3 {
                padding-top: 55px;
                padding-bottom: 20px;
                text-align: center;
                font-size: 26px;
                line-height: 35px;
            }
        }
        .backgroundimg_regis p {
            text-align: center;
            font-size: 16px;
            padding: 39px 5px 71px 5px;
            color: white;
        }
    }
    .flow_order {
        display: grid;
        padding-bottom: 55px;
        .search_order {
            max-width: 70%;
            margin: 0 auto;
            margin-top: 30px;
            min-height: 385px;
        }
    }
    .backorder_services_why {
        .box_section {
            display: grid;
            padding-top: 20px;
        }
        .below_sec {
            padding-top: 35px;
            padding-bottom: 45px;
        }
    }
}
@media (min-width: 1900px){
    .smm_dark_background {
        background-color: black;
        .smm_dark_section {
            width: 1380px;
            margin: 0 auto;
        }
    }
    .backorder_domain .backgroundimg_regis p {
        width: 1380px;
        margin: 0 auto;
    }
    
}