@import "../../mixin";
$header_background: white;
body.homepage {
    .header{
        background: $header_background;
        height: 84px;
        @media (max-width: 767px) {
            padding: 10px;
            background: black;
        }
    }
}
.header {
    // padding: 15px 15px;
    position: relative;
    z-index: 999;
    @media (max-width: 767px) {
        padding: 10px;
        background: black;
    }
    .phone {
        color: #444444;
        text-transform: uppercase;
        font-size: 17px;
        line-height: 23px;
        @media (min-width: 1201px) and (max-width: 1599px) {
            font-size: 15px;
        }
        @media (min-width: 992px) and (max-width: 1200px) {
            font-size: 16px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 15px;
        }
        @media (max-width: 767px) {
            font-size: 15px;
        }
    }

   
    &.fixedHeader {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        background: transparent;
        .mainMenu {
            ul li a,
            .hasSubMenu {
                color: #ffffff;
                &.active,
                &:hover {
                    color: #0b0b29!important;
                }
            }
        }
        .phone {
            color: #ffffff;
        }
        .searchBtn {
            color: #ffffff;
        }
        .hmBurgerBtn span {
            background: #ffffff;
        }
        .cBtn {
            background: #ffffff;
            color: #16cc55;
            font-weight: 500;
            &:hover {
                background: transparent;
                color: #ffffff;
                border-color: #fff;
            }
        }
        .humbergur span {
            background: #ffffff;
        }
    }
    .logo {
        a {
            display: inline-block;
            text-align: left;
            @media screen and (max-width: 768px) {
                img {
                    width: 250px;
                    height: 25px;
                }
            } // img {
            //   width: 100%;
            // }
        }
    }
    .mainMenu {
        ul {
            li {
                display: inline-block;
                width: auto;
                padding: 15px 0;
                &.hasSubMenu:hover {
                    >ul {
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.hasSubMenu {
                    position: relative;
                    z-index: 2;
                    font-size: 17px;
                    font-weight: 500;
                    color: #282828;
                    letter-spacing: 0;
                    margin-right: 34px;
                    cursor: pointer;
                    @media (min-width: 1201px) and (max-width: 1599px) {
                        font-size: 17px;
                        margin-right: 27px;
                    }
                    ul {
                        position: absolute;
                        left: 0;
                        top: 105%;
                        z-index: 9;
                        background: #ffffff;
                        width: 250px;
                        padding: 15px;
                        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
                        -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease 0s;
                        li {
                            display: block;
                            padding: 10px 0;
                            a {
                                font-size: 16px;
                                color: #444444;
                                &:hover,
                                &.active {
                                    color: $theme_color;
                                }
                            }
                        }
                    }
                }
                a {
                    font-size: 17px;
                    display: block;
                    color: #282828;
                    letter-spacing: 0;
                    margin-right: 34px;
                    font-weight: 500;
                    @media (min-width: 1201px) and (max-width: 1599px) {
                        font-size: 17px;
                        margin-right: 27px;
                    }
                    &:hover,
                    &.active {
                        color: $theme_color;
                    }
                }
            }
        }
    }
    .searchBtn {
        margin-right: 25px;
        display: inline-block;
        color: #282828;
        font-size: 19px;
        cursor: pointer;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
    .hmBurgerBtn {
        margin-left: 17px;
        display: inline-block;
        cursor: pointer;
        span {
            display: block;
            height: 2px;
            width: 30px;
            background: $theme_color;
            margin-bottom: 7px;
            &:nth-child(2) {
                width: 70%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .humbergur {
        display: inline-block;
        cursor: pointer;
        padding-top: 11px;
        &.show span {
            &:first-child {
                transform: rotate(45deg) translate(8px, 9px);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                transform: rotate(-45deg);
            }
        }
        span {
            width: 25px;
            height: 2px;
            background: #fff;
            margin: 4px 10px;
            display: block;
            transition: all 0.3s ease 0s;
        }
    }
    .cBtn {
        @media (max-width: 767px) {
            padding: 0 18px;
            height: 45px;
            line-height: 45px;
            font-size: 13px !important;
        }
        @media (min-width: 1201px) and (max-width: 1599px) {
            padding: 0 21px;
        }
    }
    .languageSelector {
        background: #ffffff;
        margin-left: 20px;
        padding: 0 11px;
        height: 52px;
        padding-top: 11px;
        border-radius: 5px;
        border: 1px solid #0EC64E;
        svg {
            margin-top: 5px;
        }
    }
}

.header.open_nav .phone{
    color: white;
}

.white_nav_right .phone{
    color:#fff;
}

.white_nav_right{
    .right_inner{
        .one{
            background: white !important;
        }
        .two{
            background: white !important;
        }
        .toggle-btn{
            &:before{
                background-color: #fef4e8;
            }
        }
    }   
}

.languageSelect,
.languageSelect>div {
    background: transparent !important;
    &:before,
    &:after {
        display: none;
    }
}

li.MuiMenuItem-root {
    padding: 5px!important;
    text-transform: uppercase;
    font-size: 9px;
    min-height: 35px;
    width: 50px;
    justify-content: center;
    img {
        max-width: 12px;
        margin-right: 3px;
    }
}

nav {
    padding: 11px;
}

// .header img {
//     width: 75%;
//     height: 44px;
// }

// .header {
//     font-family: '! PEPSI !' !important;
// }

/* Style the header links */

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header.open_nav a{
    color: white !important;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */

.header a:hover {
    //background-color: #ddd;
    color: black;
}

/* Style the active/current link*/

.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */

.header-right {
    margin: 0 auto;
    //max-width: 500px;
    display: table;
    padding-top: 12px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.header .logo a:hover {
    background-color: transparent;
}

.aboutuspage .header-right a {
    color: white;
}

.aboutuspage .header .phone {
    color: #fff;
}

.aboutuspage .right_inner .toggle-btn span.one, .aboutuspage .right_inner .toggle-btn span.two {
    background: #fff;
}

.header-right a {
    font-family: 'Montserrat';
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0px 8px;
}

@media screen and (max-width:768px) {
    .mobile_right_menu {
        height: 70px;
        line-height: 60px;
    }
}

/* New Menu CSS */
// .toggle-btn {
//     position: fixed;
//     margin: 1.4em;
//     padding: 1em;
//     width: 40px;
//     height: 12px;
//     right: 0;
//     z-index: 1;
//   }
  
//   span.one {
//     position: absolute;
//     width: 40px;
//     height: 2px;
//     background: #fff;
//   }
  
//   span.two {
//     position: absolute;
//     width: 40px;
//     height: 2px;
//     background: #fff;
//     margin-top: 12px;
//   }
  
//   .menu {
//     z-index: 0;
//     position: absolute;
//     background-color: #101010;
//     height: 100vh;
//     width: 100%;
//     top: -100%;
//   }
  
//   .data {
//     padding: 8em 0 0 2em;
//     text-align: left;
//   }
  
//   ul {
//     list-style: none;
//   }
  
//   li {
//     color: #fff;
//     font-size: 42px;
//     margin: 25px 0;
//     text-transform: uppercase;
//   }
  
//   a {
//     text-decoration: none;
//     color: #fff;
//     font-family: "Playfair";
//     transition: 0.5s;
//   }
  
//   a:hover {
//     letter-spacing: 4px;
//     color: #ffeb3b !important;
//   }
  
//   a::before {
//     content: attr(data-text);
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     transition: 0.5s;
//     font-size: 100px;
//     opacity: 0;
//     pointer-events: none;
//     z-index: -1;
//   }
  

  .header-right{
    a:hover::before {
        opacity: 0.1;
      }
    a:hover {
        letter-spacing: 2px;
        color: #f7941e !important;
        // text-decoration: underline !important;
        // text-underline-position: under;
        
    }
    
  }
  $animate: all 0.2s ease-in-out;
  .menu_item{
      position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 7px;
      width: 0px;
      height: 2px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.2s;
      opacity: 0;
      background-color: #f7941e;
    }
    &.hover-1 {
      &:before,
      &:after {
        left: 0;
      }
    }
    &:hover {
        cursor: pointer;
            &:before,
            &:after {
              width: 100%;
              opacity: 1;
            }
    }
}

.right_inner{
    float: right;
    margin-top: 25px;
    margin-right: 12px;
    width: 60%;
    .phone {
        width: 62%;
        float: left;
        font-family: 'Montserrat';
        font-weight: 600;
        .fa-phone {
            color: #f7941e;
        }
    }
    .toggle-btn {
        margin: 0;
        padding: 4px;
        width: 6%;
        height: 50px;
        right: 0;
        float: left;
        position: fixed;
    
        span.one {
            position: absolute;
            width: 30px;
            height: 2px;
            background: #702f7e;
        }
          
        span.two {
            position: absolute;
            width: 30px;
            height: 2px;
            background: #702f7e;
            margin-top: 12px;
        }

        &:before{
            content: "";
            display: block;
            position: absolute;
            left: -12px;
            top: -18px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            opacity: .2;
            transform: scale(0);
            background-color: #edb36d;
            transition: transform .4s cubic-bezier(.165,.84,.44,1);
        }

        &:hover:before {
            transform: scale(1);

        }
    }
}

.menus {
    z-index: 20;
    position: fixed;
    background-color: #512e5b;
    height: 100vh;
    width: 100%;
    transform: scale(0);
    clip-path: circle(30px at 50% 35px);
    // top: -1500%;
    .data {
        padding: 8em 0 0 2em;
        text-align: left;
      }
      
      ul {
        list-style: none;
      }
      
      li {
        color: #fff;
        font-size: 42px;
        margin: 25px 0;
        text-transform: uppercase;
      }
      
      a {
        text-decoration: none;
        color: #fff;
        // font-family: "Playfair";
        transition: 0.5s;
        font-size: 18px;
      }
      
      a:hover {
        // letter-spacing: 4px;
        color: #ffeb3b;
      }
      
      a::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        font-size: 100px;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
      }
      
      a:hover::before {
        opacity: 0.1;
      }
}

ul.overlay_nav {
    max-width: 1140px;
    margin: 0 auto;
    columns: 3;
}

.menu_grid {
    max-width: 1140px !important;
    margin: 8% auto 0 auto !important;
    a {
        float: unset;
        text-transform: capitalize;
        font-weight: 300;
    }
    li{
        margin: 13px 0px;
    }
}

ul.navigation {
    display: table;
    // max-width: 245px;
    columns: 1;
}

h2.menu_title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #f7941e;
    max-width: 180px;
    margin-left: 11px;
}



@media (max-width: 767px){
.menus {
    display: none;
}
}

// .toggle-btn::before {
//     content: "";
//     display: block;
//     position: absolute;
//     left: 0px;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     background-color: #121111;
//     opacity: .2;
//     transition: transform .4s cubic-bezier(.165,.84,.44,1);
// }

// .toggle-btn:hover:before {
//     transform: scale(1);
// }
@media screen and (min-width:1280px) {
    .navbar{
        font-size: 15px !important;
    }
}

.navbar {
    overflow: hidden;
    float: right;
    // padding-top: 10px;
    font-size: 18px;
    height: 100%;
    // background-color: #333;
    // font-family: Arial, Helvetica, sans-serif;
    a {
        float: left;
        font-size: 18px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .dropdown {
        float: left;
        overflow: hidden;
        height: 100%;
      }
      
      .dropdown .dropbtn {
        border: none;
        outline: none;
        color: black;
        background-color: inherit;
        font: inherit;
        margin: 0;
        text-transform: uppercase;
        height: 100%;
        transition: 0.5s;
        @media screen and (min-width:1280px) {
            padding: 0px 12px;
        }
        @media screen and (min-width:1600px) {
            padding: 0px 25px;
        }
      }
      
      a:hover, .dropdown:hover .dropbtn {
        color: #f7941e;
        font-weight: 700;
       
      }
      .dropdown:hover .dropbtn {
        border-bottom: 3px solid #f7941e;
        border-radius: 1px;
      }
    //   .dropdown:hover .dropbtn {
    //     border-bottom: 3px solid;
    // }
      
      .dropdown-content {
          
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        // top: -500px;
        // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-top: 87px;
        
        h3 {
            color: white;
        }
      }
      
      .dropdown-content .header {
        background: red;
        padding: 16px;
        color: white;
      }
      
      .dropdown:hover .dropdown-content {
        //   opacity: 1;
        display: block;
        // top: 103% !important;
      }
      
      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        // background-color: #230729;
        height: 100%;
        // height: 250px;
        h3 {
            font-size: 26px;
            line-height: 35px;
            letter-spacing: 1px;
            font-weight: 800;
        }
      }
      .four_column{
        width: 25%;
      }
      .row{
        background-color: #230729;
        padding-top: 90px;
        padding-bottom: 90px;
      }
      .inner_row {
        max-width: 1080px;
        margin: 0 auto;
    }
      
      .column a {
        float: none;
        color: white;
        padding: 10px 16px 10px 0px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .column a:hover {
        color: #f7941e;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
  }
  .header {
    // border-bottom: 3px solid #96479b;
    box-shadow: 0px 6px 23px #702f7e26;
}
img.yellow_line {
    height: 10px;
}
/* Stickey Header*/
.header {
    position: sticky;
    top: 0;
    font-size: 30px;
    color: white;
    background-color: white;
    z-index: 999999999;
}
@media (max-width: 767px){
.header {
    background-color: black;
}
.header i.fa.fa-angle-down.undefined {
    color: black;
}
}