@import "../../mixin";
.contactUsWrapper{
  position: relative;
  z-index: 4;
  padding: 100px 0;
  @media (min-width: 992px) and (max-width: 1200px) {
    padding-bottom: 70px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding: 0 0 20px;
  }

  &.h2Contact{
    padding-bottom: 140px;
    @media (min-width: 1201px) and (max-width: 1599px) {
      padding-bottom: 90px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      padding-bottom: 70px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding-bottom: 60px;
    }
    @media (max-width: 767px) {
      padding-bottom: 50px;
    }
  }

  .thumb{
    margin-top: 150px;
    @media (min-width: 1440px) {
      margin-left: -150px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 0;
      text-align: center;
    }
    @media (max-width: 767px) {
      margin-top: 40px;
    }
  }
  .contactRight{
    @media (max-width: 1350px) {
      padding-bottom: 20px;
    }
    .textContent{
      padding-right: 20%;
      @media (max-width: 767px) {
        padding-right: 0;
      }
    }
    form{
      margin-top: 20px;
    }
  }
}

.inputStyleBasic{
  width: 100%;
  >div{
    padding: 0;
    &.Mui-focused{
      fieldset{
        border-color: $theme_color!important;
      }
    }
    fieldset{
      border-color: $theme_color;
      border-width: 1px;
      border-radius: 0;
    }
    textarea,
    input{
      height: 60px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 30px;
      font-size: 18px;
      letter-spacing: 0;
      &::-webkit-input-placeholder {
        color: #8B8B8C;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #8B8B8C;
        opacity: 1;
      }
      &::placeholder {
        color: #8B8B8C;
        opacity: 1;
      }
    }
    textarea{
      height: 220px!important;
      padding: 18.5px 14px;
      padding-top: 30px;
      padding-left: 30px;
      line-height: 25px;
    }
  }
  p{
    font-size: 14px;
    color: red;
  }
}

.bgShape8{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}



.contact_us{
  .container_dm .container-contact2 {
    background: transparent;
  }
  .contactusform h2, .contactusform p {
    display: none;
  }
  .content_contactus {
    // padding: 100px 0px 0px 218px;
    max-width: 1150px;
    margin: 0 auto;
      h2 {
        font-size: 105px;
        color: white;
        line-height: 110px;
      }
      p {
        font-size: 30px;
        color: white;
        font-weight: 700;
        line-height: 40px;
        padding-top: 45px;
      }
    }
    .backgroundimg_regis {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 223px;
    }
    .container_dm .focus-input2::after {
        font-size: 26px;
        font-style: italic;
        line-height: 35px;
    }
    .container_dm .wrap-contact2 {
        max-width: 1150px;
        margin: 0 auto;
        width: 100%;
    }
    .container_dm input.input2 {
        height: 70px;
    }
    .contact_details {
      max-width: 1150px;
      margin: 0 auto;
      padding: 100px 0px 100px 0px;
      border-bottom: 1px solid #93918e;
      .details {
        display: flex;
        h2 {
          line-height: 58px;
          width: 50%;
          font-size: 60px;
          font-weight: 900;
      }
    }
    .contact {
      h3{
        font-size: 22px !important;
        font-weight: 500;
      }
      p{
        font-size: 26px;
        font-weight: 800;
      }
    }

  }
}
@media (max-width: 767px){
  .contact_us{
    .backgroundimg_regis {
      padding-top: 40px;
    }
    .content_contactus h2 {
      font-size: 45px;
      color: white;
      line-height: 55px;
      padding: 10px;
    }
    .content_contactus p {
      font-size: 25px;
      color: white;
      font-weight: 700;
      line-height: 35px;
      padding-top: 20px;
      padding: 10px;
  }
  .container_dm .container-contact2 {
    padding: 0;
    }
    .container_dm .wrap-contact2 {
      padding: 0px 15px 90px 15px;
    }
    .contact_details .details {
      display: grid;
      h2 {
        width: 100%;
        font-size: 35px;
    }
    }
    .contact_details {
      padding: 40px 10px;
      .contact p {
        font-size: 25px;
        font-weight: 800;
    }
    }
    .backgroundimg_regis {
      background-position: left;
  }
  }
}