.logo_design{
    h1.slider_text {
        font-size: 50px;
    }
    h2.sectthreee_heading {
        text-align: left;
        padding: 0px;
        font-size: 50px;
        line-height: 55px;
        font-family: "Montserrat";
    }
    .dedicated_background_section {
        padding: 60px 140px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
    }
    p.para_background_linux {
        color: black;
        width: 75%;
        padding-top: 15px;
    }
    .dedicated_background_section p {
        font-size: 18px;
        padding-top: 9px;
        font-family: 'Montserrat';
        font-weight: 400;
    }
    .dedicated_background_section .fa-check-circle:before {
        color: #f7941e;
        font-size: 18px;
    }
    .branding_solution_logo_design {
        padding: 100px 165px 100px 165px;
        .branding_steps {
            display: flex;
            column-gap: 25px;
            padding-top: 20px;
        }
        
        .left_branding {
            max-width: 50%;
            display: flex;
            padding: 30px;
            border: 1px solid black;
            img {
                width: 500px;
                padding-top: 10px;
            }
            .text_logo_branding {
                padding: 0px 25px;
                p {
                    padding-top: 10px;
                }
            }
        }
    }

    .why_navico_branding_element {
        padding: 100px 165px 100px 165px;
        background-color: #f2f1ef;
        .font_text {
            display: flex;
            border-bottom: 1px solid black;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        p.para_background_linux {
            color: black;
            width: 100%;
            padding-top: 15px;
            font-size: 21px;
        }
        i.far.fa-check-circle {
            font-size: 25px;
        }
        .font_text p {
            font-size: 20px;
            padding-top: 8px;
            font-weight: 500;
        }
    }
    .smm_dark_section {
        padding: 110px 140px;
    }
    
}
@media (min-width: 1900px){
    .logo_design {
        .dedicated_background_section {
            width: 1380px;
            margin: 0 auto;
        }
        .smm_dark_section {
            width: 1380px;
            margin: 0 auto;
        }
        .dark_section_background {
            background-color: black;
        }
        
        .brand_Section {
            width: 1380px;
            margin: 0 auto;
        }
        .brand_section_background {
            background-color: #4a1855;
        }
        .businessstationary {
            width: 100%;
            margin: 0 auto;
        }
        .why_navico_branding_element {
            width: 1380px;
            margin: 0 auto;
        }
        .branding_element_background {
            background-color: #f2f1ef;
        }
        .brand_Section {
            p {
                font-size: 21px;
                color: white;
                width: 79%;
            }
            .brand_vitality {
                background-size: cover !important;
                background-repeat: no-repeat;
                background-position-x: -490px !important;
                .branding_text {
                    width: 50% !important;
                    padding-top: 90px !important;
                    padding-bottom: 210px !important;
                }
            }
        }
        .branding_solution_logo_design {
            width: 75%;
            margin: 0 auto;
        }
        
    }
}
@media (min-width: 1200px){
    .logo_design .brand_section_background .brand_Section {
        background-color: #4a1855;
        padding: 100px 110px;
    }
    .logo_design {
    .brand_Section {
        background-color: #4a1855;
        padding: 100px 0px 100px 0px;
        h2 {
            color: white;
            font-size: 50px;
            padding-bottom: 15px;
            line-height: 55px;
        }
        p {
            font-size: 21px;
            color: white;
        }
        .brand_vitality {
            background-size: 1230px 390px;
            background-repeat: no-repeat;
            background-position-x: -230px;
            .branding_text {
                width: 46%;
                padding-top: 31px;
                padding-bottom: 165px;
            }
        }
    }
}
}

@media (max-width: 767px){
    .logo_design{
        h2.slider_text {
            font-size: 19px;
        }
        .dedicated_background_section {
            padding: 25px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0 0;
            background-position-x: 700px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
        h2.sectthreee_heading {
            text-align: left;
            padding: 0px;
            font-size: 30px;
            line-height: 34px;
            font-family: "Montserrat";
        }
        p.para_background_linux {
            color: black;
            width: 100%;
            padding-top: 15px !important;
        }
        .smm_dark_section {
            padding: 25px;
            br {
                display: none;
            }
        }
        .brand_Section {
            padding: 25px;
            background-color: #4a1855;
            h2 {
                color: white;
            }
            p {
                color: white;
                padding-top: 20px;
            }
            br{
                display: none;
            }
        }
        .branding_solution_logo_design {
            padding: 25px;
            .branding_steps {
                display: grid;
            }
            .left_branding {
                max-width: 100%;
                display: grid;
                padding: 30px;
                text-align: center;
                border: 1px solid black;
                margin-bottom: 25px;
                img {
                    width: 80px;
                }
                .text_logo_branding {
                    padding: 0px;
                }
            }
        }
        .why_navico_branding_element {
            padding: 50px 25px;
        }
        h2.sectthreee_heading {
            font-size: 25px;
        }
        .section_two br {
            display: none;
        }
        span.slidertext_color {
            color: #702f7e !important;
        }
        h2.sectthreee_heading.mobile_stationary br {
            display: none;
        }
    }
}