.footerWrapper {
  padding-top: 150px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(226, 252, 235, 1) 100%);
  @media (min-width: 992px) and (max-width: 1200px) {
    padding: 130px 15px 40px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding-top: 90px;
  }
  @media (max-width: 767px) {
    padding: 80px 0 0;
  }

  &.noShape {
    padding-top: 100px;
    @media (min-width: 992px) and (max-width: 1200px) {
      padding-top: 90px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding-top: 80px;
    }
    @media (max-width: 767px) {
      padding-top: 70px;
    }
  }

  .widget {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    &.haslpadding {
      @media (min-width: 1350px) {
        padding-left: 72px;
      }
    }
  }

  .widgetTitle {
    font-size: 20px;
    color: #404041;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Futura', sans-serif;
  }

  .mobileApps {
    margin-top: 40px;

    p {
      font-size: 18px;
      color: #706c6e;
      letter-spacing: 0;
      font-weight: 500;
    }

    i {
      margin-left: 20px;

      &:first-child {
        color: #ff584e;
      }
    }
  }

  .footerContact {
    margin-bottom: 40px;

    > a {
      display: inline-block;
      margin-bottom: 30px;

      > img {
        width: 120px;
      }
    }

    p {
      font-size: 15px;
      color: #706c6e;
      letter-spacing: 0;
      font-weight: 500;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    ul {
      margin-top: 30px;

      li {
        display: block;
        font-size: 15px;
        color: #706c6e;
        letter-spacing: 0;
        font-weight: 500;
        margin-bottom: 9px;
        @media (max-width: 767px) {
          font-size: 14px;
        }
      }
    }
  }

  .quickLinks {
    li {
      display: block;

      a {
        display: block;
        font-size: 15px;
        color: #706c6e;
        letter-spacing: 0;
        font-weight: 500;
        margin-bottom: 15px;
        @media (max-width: 767px) {
          font-size: 14px;
        }

        &:hover,
        &.active {
          color: #0EC64E;
        }
      }
    }
  }

  .ftNewsletter {
    position: relative;
    z-index: 1;

    input {
      height: 60px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ddd;
      padding-left: 15px;
      width: 100%;
      letter-spacing: 0;
      font-weight: 500;
      padding-right: 96px;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0 25px;
      font-weight: 600;
      border-radius: 0 5px 5px 0;
    }

  }

  ul.socialLinks {
    margin-top: 20px;

    li {
      display: inline-block;

      a {
        display: block;
        margin-right: 15px;

        i {
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
          color: #ffffff;
          border-radius: 50%;
          background: #0E76A8;
        }

        .fa-linkedin {
          background: #55ACEE;
        }

        .fa-dribbble {
          background: #6A453B;
        }

        .fa-twitter {
          background: #3B5998;
        }
      }
    }
  }

  .footerBgShape {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.footerBottom {
  border-top: 1px solid #BCE3CA;
  padding-top: 30px;
  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: #666163;
    font-weight: 500;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.error {
  margin-top: 5px;
  font-size: 12px;
  color: #ff6657;
}



.footer_section {
  background-color: #220629;
  margin-top: -1px;
}
.footer_one h3 {
  color: #9141a2;
  font-size: 50px;
  font-family: 'Montserrat';
}
.row_one .footer_one p {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat';
  padding-top: 14px;
    line-height: 31px;
}
.row_one .footer_one {
  width: 65%;
}
.row_one .footer_two {
  width: 35%;
  display: flex;
}
.row_one {
  display: flex;
  padding-top: 120px;
  padding-bottom: 30px;
  max-width: 1180px;
  margin: 0 auto;
  border-bottom: 1px solid #f7941e;
}
.footer_two img {
  height: 60px;
  // margin-top: 40px;
}
.address_sec p {
  color: white;
  padding: 8px;
}

.row_two .footer_one ul {
  display: flex;
}
.row_two {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 120px;
}
.row_two .footer_one li {
  color: white;
  list-style-type: disc;
  margin-left: 35px;
}
.row_two .footer_one{
  min-width: 70%;
}
.row_two .footer_two{
  min-width: 30%;
}
.socialLinks i {
  color: white;
  font-size: 17px;
}
.socialLinks li {
  padding: 5px 10px 0 10px;
  color: white;
}
ul.socialLinks {
  display: flex;
}
.copyright_section {
  background-color: #140318;
}
.left_copyright {
  max-width: 1280px;
  margin: 0 auto;
  width: 60%;
}
.copyright_section {
  background-color: #140318;
  display: flex;
}
.right_copyright {
  width: 25%;
}
.copyright_section {
  padding-top: 20px;
  padding-bottom: 10px;
}
.left_copyright p {
  color: white;
  padding: 12px;
}
.get_started_section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.get_started_section p{
text-align: center;
font-size: 22px;
color: black;
font-family: 'Montserrat';
font-weight: 600;
padding-top: 94px;
}
.get_started_section h3{
line-height: 80px;
text-align: center;
font-family: '! PEPSI !' !important;
color: #702f7e;
font-size: 70px;
letter-spacing: 2px;
}
.btn {
text-align: center;
padding-bottom: 67px;
}
.get_started_section button {
background-color: #f7941e;
padding: 7px 30px;
border: none;
font-family: 'Montserrat';
text-transform: uppercase;
font-weight: 500;
}
@media (max-width: 767px){
  .get_started_section p {
    font-size: 16px;
    padding-top: 15px;
    line-height: 19px;
}
.get_started_section h3 {
  line-height: 36px;
  font-size: 37px;
  padding-top: 11px;
}
.get_started_section {
  background-position: bottom;
  background-size: 373px 100px;
}
.btn {
  padding-bottom: 30px;
  padding-top: 12px;
}
.row_one {
  display: grid;
  padding: 50px 15px 30px 15px;
}
.row_one .footer_one {
  width: 100%;
}
.footer_one h3 {
  font-size: 35px;
}
.row_one .footer_one p {
  color: white;
  font-size: 19px;
  font-family: 'Montserrat';
  padding-top: 14px;
  line-height: 23px;
}
.row_one .footer_two {
  width: 100%;
  display: flex;
  padding-top: 30px;
  padding-left: 10%;
}
.row_one {
  max-width: 345px;
}

.row_two .footer_one {
  max-width: 100%;
}
.row_two {
  display: grid;
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 20px;
}
.row_two .footer_one li {
  margin-left: 25px;
}
.row_two .footer_one ul {
  margin-left: -5px;
}
.row_two .footer_two {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}
.left_copyright p {
  color: white;
  font-size: 11px;
  padding: 0px;
}
.right_copyright img {
  width: 75%;
}
}
.footer_one a {
  color: white;
  font-size: 12px;
}
.footer_one a:hover {
  color: #b66a1c;
}
@media (min-width: 1900px){
  .get_started_section {
    height: 450px;
}
.get_started_section p {
  padding-top: 145px;
}
/* on footer css in media query 1980px*/
h1.slider_text {
  padding: 165px 305px !important;
}
}
.address_section {
  display: flex;
}
.footer_two img {
  margin-top: 25px;
}