.digitalmarkettingfaq {
    // max-width: 1000px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
}
.digitalmarkettingfaq h2 {
    font-size: 50px;
    padding: 135px 0 20px 0;
    font-family: 'Montserrat';
}
.digitalmarkettingfaq h3 {
    font-family: 'Montserrat';
    padding-bottom: 10px;
    padding-top: 30px;
}
@media (max-width: 767px){
.digitalmarkettingfaq {
    padding: 0 15px 30px 15px;
}
.digitalmarkettingfaq h2 {
    font-size: 33px;
    line-height: 36px;
    padding: 50px 0 20px 0;
}
.digitalmarkettingfaq h3 {
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 19px;
    line-height: 22px;
}
}