span.bold_text {
    font-weight: 700;
    color: black;
}
.player-wrapper {
    position: relative;
    padding-top: 28%;
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
.businessstationary{
    .creativity_section {
        margin-top: 360px;
    }
    a.click_here_text {
        text-decoration: underline;
        color: #f7941e;
        font-weight: 700;
        font-size: 18px;
    }
    .creativity_section h2 {
        text-align: left;
        padding: 100px 100px 30px 100px;
    }
    .creativity_section{
        .text_sectionn {
            display: flex;
            padding: 0px 100px;
            p {
                max-width: 50%;
                padding: 0px 18px;
                font-size: 18px;
            }
        }
    }
    .box_section {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 140px;
        column-gap: 32px;
        .smm_box_text {
            width: 340px;
        }
        .smm_arrow._text {
            display: flex;
            justify-content: center;
        }
        .smm_arrow._text p {
            text-align: center;
            padding: 0;
        }
    }
    .secondtextsec p {
        width: 100%;
    }
    .businessstationary_process {
        h2 {
            text-align: center;
            padding-top: 100px;
            font-size: 50px;
            line-height: 55px;
        }
        p {
            text-align: center;
            font-size: 18px;
            padding-top: 10px;
        }
    }
    .process_table_three {
        border: 1px solid;
        width: 362px;
        text-align: center;
        padding: 35px 20px;
        transition: transform .5s;
    }
    .square_describe img {
        background-color: orange;
        padding: 10px;
        transition: 0.5s;
    }
    .process_table_business {
        display: flex;
        justify-content: center;
        column-gap: 30px;
        padding-top: 65px;
        padding-bottom: 10px;
    }
    .square_describe {
        padding-bottom: 25px;
    }
    .process_table_three:hover .square_describe img {
        transform: scale(1.2);
    }
    .process_table_three p {
        font-size: 16px !important;
    }
    .btn_table_stationary {
        text-align: center;
        padding-bottom: 140px;
    }
    .business_background_purple {
        background-color: #220728;
    }
    p.center_text_stationary {
        text-align: center;
        padding-bottom: 45px;
    }
    .tickimg1 {
        width: 18%;
        height: 78%;
        p {
            padding-top: 10px;
        }
    }
    .tickimg2 {
        width: 18%;
        height: 78%;
        p {
            padding-top: 10px;
        }
    }
    .tickimg3 {
        width: 18%;
        height: 78%;
        p {
            padding-top: 10px;
        }
    }
    .tickimg {
        width: 18%;
        height: 78%;
        padding: 10px 24px 0 50px;
        text-align: center;
        p {
            padding-top: 10px;
        }
    }
    .center_text_business {
        text-align: center;
        p {
            font-size: 18px;
            padding-bottom: 140px;
        }
        span.click_here_text {
            text-decoration: underline;
            color: #f7941e;
            font-weight: 700;
        }
    }

}

@media (max-width: 767px) {
    .businessstationary {
        h1.slider_text {
            font-size: 28px !important;
        }
        h2.sectthreee_heading br {
            display: none;
        }
        .creativity_section {
            h2 {
                text-align: left;
                padding: 10px;
            }
            
            .text_sectionn {
                display: grid;
                padding: 10px;
                 p {
                    max-width: 100%;
                    padding: 10px 18px;
                    font-size: 18px;
                }
            }
        }
        .box_section {
            display: grid;
            padding-bottom: 50px;

        }
        .businessstationary_process {
            br{
                display: none;
            }
            h2 {
                font-size: 21px;
                line-height: 32px;
            }
            p {
                text-align: center;
                font-size: 18px;
                padding: 10px;
            }
        }
        .process_table_business {
            display: grid;
        }
        .process_table_three {
            max-width: 290px;
            margin-bottom: 20px;
        }
        .tickimg1 ,.tickimg2 ,.tickimg3, .tickimg {
            width: 100%;
        }
        .tickimg {
            padding: 70px;
        }
        p.center_text_stationary {
            padding: 10px;
            br {
                display: none;
            }
        }
        h2.mobile_stationary {
            font-size: 20px;
            span.slidertext_color {
                color: #702f7e;
            }
        }
        .center_text_business p {
            font-size: 18px;
            padding: 7px;
        }
        h2.sectthreee_heading {
            padding: 45px 10px 17px 10px;

        }
        h2.slider_text {
            font-size: 20px;
        }
    }
}

@media (min-width: 1900px) {
    .businessstationary {
        .creativity_section {
            width: 1380px;
            margin: 0 auto;
        }
        .dark_section_background {
            background-color: black;
        }
        .business_background {
            background-color: #220728;
        }
}
}