.webdesign_faq{
    background-color: #f2f1ef ;
    // max-width: 1500px;
    margin: 0 auto;
    padding: 0px 100px 100px 100px;
}
.webdesign_faq h2 {
    line-height: 50px;
}
.tick_faq_css li:before {
    content: "\f061";
    font-size: 15px;
    font-family: FontAwesome;
    display: inline-block;
    width: 1.3em;
    margin-left: 10px;
    line-height: 32px;
    color: #f7941e;
}
.grey_background_faq {
    background-color: #f2f1ef;
}
@media (max-width: 767px){
    .webdesign_faq {
        padding: 50px 10px;
    }
}
