.vps_hosting{
    .smm_img_text_section {
        width: 50%;
    }
    h1.slider_text {
        line-height: 45px;
    }
    span.vps_header_text {
        color: black;
        font-size: 35px;
    }
    h2.slider_text {
        line-height: 45px;
    }
    .section_select_vps {
        padding: 100px 0px;
        h2 {
            font-size: 50px;
            text-align: center;
            line-height: 55px;
        }
    }
    .linux_windows_select {
        display: flex;
        width: 65%;
        margin: 0 auto;
        column-gap: 24px;
        padding: 50px 0px;
        .linux_vps, .windows_vps {
            width: 50%;
            text-align: center;
            border: 1px solid black;
            padding: 33px;
            transition: transform .3s;
        }
        .linux_vps img, .windows_vps img {
            padding: 15px 0px;
        }
        .linux_vps:hover, .windows_vps:hover {
            transform: scale(1.1);
        }
    }
    .dedi_host {
        background-color: #f2f1ef;
    }
    .dedicated_hosting .purchase li {
        background-color: white;
    }
    ul.table_content > li:nth-child(odd) {
        background-color: #f3e9f5 !important;
    }
    .dedicated_background_section{
        span.color_yellow {
            color: #f7941e;
        }
        h2 {
            text-align: left;
        }
        p.para_background_linux {
            color: black;
            width: 72%;
        }
        h2.sectthreee_heading {
            padding: 0px;
        }
    }
    .web_development .rightchoice_section {
        background-color: #220728;
        padding-bottom: 50px;
        h2 {
            padding-top: 100px;
            padding-bottom: 20px;
        }
        p {
            text-align: center;
            color: white;
            font-size: 16px;
        }
    }
    .digitalmarketting_section {
        padding-top: 35px;
    }
    .tickimg1, .tickimg2, .tickimg3{
        height: 70%;
    }
    .smm_agency_section {
        background-color: white;
        padding: 100px;
        .smm_agency_text h2 {
            color: black;
        }
        p {
            color: black;
        }
        .smm_img_text_section h3 {
            color: black;
        }
        .datacenter_para {
            width: 153%;
        }
    }
    .web_hosting .flippy-cardContainer p {
        text-align: center;
    }
    .web_hosting .flippy-card.flippy-front {
        height: 230px;
    }
    .web_hosting .flippy-card.flippy-back {
        height: 230px;
    }
    .confess_section {
        background-color: white;
        h2 {
            color: black;
        }
        p {
            color: black;
        }

    }
     
}

@media (max-width: 767px){
    .vps_hosting{
        span.vps_header_text {
            color: #f7941e;
            font-size: 21px;
            br {
                display: none;
            }
        }
        h2.slider_text {
            line-height: 33px;
        }
        .section_select_vps {
            padding: 50px 0px;
            h2 {
                font-size: 30px;
                text-align: center;
                line-height: 35px;
            }
            

        }
        .linux_windows_select {
            display: grid;
            width: 90%;
            margin: 0 auto;
            grid-column-gap: 24px;
            grid-gap: 20px;
            padding: 50px 0px;
            .linux_vps, .windows_vps {
                width: 100%;
                text-align: center;
                border: 1px solid black;
                padding: 33px;
                transition: transform .3s;
            }
            .linux_vps br, .windows_vps br {
                display: none;
            }
        }
        .dedicated_background_section {
            padding: 50px 10px;
            h2 {
                font-size: 30px;
                color: black;
                line-height: 35px;
            }
            p.para_background_linux {
                color: black;
                width: 100%;
            }
        }
        .web_development .rightchoice_section h2 {
            padding-top: 50px;
            padding-bottom: 15px;
        }
        .web_development .rightchoice_section p {
            text-align: center;
            color: white;
            font-size: 16px;
            padding: 10px;
        }
        .smm_agency_section {
            background-color: white;
            padding: 10px;
        }
        .smm_texttt {
            padding-left: 0px;
        }
        .reliable_webhosting {
            padding: 10px;
        }
        .web_hosting .flippy-card.flippy-front {
            height: 210px;
            padding: 31px;
        }
        .web_hosting .flippy-card.flippy-back {
            height: 210px;
            padding: 31px;
        }
        .web_hosting .MuiGrid-spacing-xs-3 {
            width: 75%;
        }
    }
}
@media (min-width: 1900px){
    .vps_hosting{
        .smm_agency_section .datacenter_para {
            width: 130%;
        }
        .dedicated_background_section {
            padding: 60px 345px;
        }
    }
}