.Particles {
    background-color: #f6f7f8;
    max-height: 850px;
}

.arrow {
    position: fixed;
    bottom: 25px;
    left: 50%;
    padding: 20px;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -webkit-animation: upNdown-data-v-73dececb 1s infinite alternate;
    animation: upNdown-data-v-73dececb 1s infinite alternate;
    z-index: 60
}

.arrow.visible {
    opacity: 1;
    bottom: 25px;
    transition: .8s ease;
    transition-delay: 1s
}

@-webkit-keyframes upNdown-data-v-73dececb {
    0% {
        transform: translate(-50%)
    }
    to {
        transform: translate(-50%, -10px)
    }
}

@keyframes upNdown-data-v-73dececb {
    0% {
        transform: translate(-50%)
    }
    to {
        transform: translate(-50%, -10px)
    }
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 20
}

.intro.hide {
    display: none
}

.intro .word-container:hover .aime,
.intro .word-container:hover .aime .hide-left,
.intro .word-container:hover .elle,
.intro .word-container:hover .elle .hide-left,
.intro .word-container:hover .hide,
.intro .word-container:hover .hide .hide-left,
.intro .word-container:hover .word,
.intro .word-container:hover .word .hide-left {
    color: #000
}

.intro .word-container .word {
    line-height: 260px
}

.intro .word-container .word-wrapper-aime {
    top: -89px;
    left: 125px
}

@media (max-width:680px) {
    .intro .word-container .word-wrapper-aime {
        opacity: 0
    }
}

.intro .word-container .word-wrapper-elle {
    bottom: -88px;
    left: -79px
}

@media (max-width:680px) {
    .intro .word-container .word-wrapper-elle {
        opacity: 0
    }
}

.intro .word-container .hide .hide-left {
    transform: translateX(0);
    opacity: 1
}

.hold-on {
    display: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width:780px) {
    .Particles {
        background-color: #000;
    }
    .hold-on {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 70px;
        margin: 0 auto;
        font-size: 12px;
        border: 1px solid #b4b3b1;
        border-radius: 200px;
        color: #b4b3b1;
        font-family: GTWalsheimProRegular;
        text-transform: uppercase;
        z-index: 999
    }
    .word_count {
        font-size: 47px;
        line-height: 63px;
        text-align: center;
        color: #702f7e;
        font-family: '! PEPSI !';
        -webkit-text-stroke: 1px #bdbdbd;
        letter-spacing: 5px;
    }

}

.circle-container {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    display: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (max-width:780px) {
    .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 130px;
        left: 50%;
        transform: translateX(-50%);
        width: 92px;
        height: 92px;
        margin: 0 auto;
        font-size: 12px;
        color: #b4b3b1;
        font-family: GTWalsheimProRegular;
        text-transform: uppercase;
        z-index: 9
    }
}

.circle-container svg {
    transform: scale(1);
    opacity: 1;
    transition: all 2s ease
}

.circle-container.visible .circle-text {
    transform: translate(0);
    transition: all 1.2s cubic-bezier(.22, .61, .36, 1) .08s;
    transition-delay: 1.2s
}

.circle-container.visible .circle .foreground {
    stroke-dashoffset: 0;
    transform: rotate(-90deg);
    transition: all 2s cubic-bezier(.22, .61, .36, 1);
    transition-delay: 1.5s
}

.circle-container.hold svg {
    transform: scale(2);
    opacity: 0;
    transition: all 3s ease-in
}

.circle-container .hover-text-container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.circle-container .circle-text {
    color: #b4b3b1;
    font-family: sans-serif;
    transform: translateY(25px);
    text-transform: uppercase;
    pointer-events: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 2s cubic-bezier(.22, .61, .36, 1)
}

.circle-container .circle {
    height: 92px;
    width: 88px
}

.circle-container .circle .foreground {
    fill: transparent;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    stroke: #b4b3b1;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: all 2s cubic-bezier(.22, .61, .36, 1)
}

.project-link {
    position: relative
}

.project-link .link-indication-container {
    position: absolute;
    top: 93px;
    left: 50%;
    transform: translateX(-50%)
}

.project-link .link-indication-container .link-indication {
    color: #000;
    font-size: 18px;
    font-family: GTWalsheimProMedium;
    transition: all .8s cubic-bezier(.22, .61, .36, 1);
    display: none
}

.project-link .link-indication-container .link-indication.visible {
    display: inline-block
}

@media (max-width:680px) {
    .project-link .link-indication-container {
        top: 65px
    }
}

.homepage-container {
    position: relative;
    overflow: hidden
}

@media (max-width:680px) {
    .homepage-container {
        height: 100vh
    }
}

.homepage-container .work-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.homepage-container .work-container.visible {
    display: block;
    z-index: 50
}

a {
    text-decoration: none;
    color: #000;
    transition: all .6s ease
}

.swiper-container {
    height: 100vh
}

.swiper-slide {
    width: 100vw
}

.bg-love {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    opacity: 0;
    z-index: 5;
    pointer-events: none
}

.bg-love,
.bg-love.visible {
    transition: all 1.4s cubic-bezier(.19, .77, .2, 1)
}

.bg-love.visible {
    opacity: 1
}

.bg-love img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    display: none
}

.bg-love img.visible {
    display: block
}

.home-slide-content {
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.love-container .word-container {
    z-index: 15
}

.word-container {
    display: block;
    font-size: 75px;
    text-align: center;
    font-weight: 700;
    margin-top: 90px;
    cursor: none !important
}

@media (max-width:680px) {
    .word-container {
        font-size: 130px;
        position: relative;
        top: -80px
    }
}

.word-container .aime .hide,
.word-container .aime .hide .hide-left,
.word-container .aime .hide .hide-right,
.word-container .elle .hide,
.word-container .elle .hide .hide-left,
.word-container .elle .hide .hide-right {
    transition: all 1.4s cubic-bezier(.19, .77, .2, 1)
}

.word-container .work {
    transition: color 1.2s cubic-bezier(.19, .77, .2, 1)
}

.word-container.hover .word,
.word-container.hover a {
    color: #96479b;
    transition: all .9s cubic-bezier(.19, .77, .2, 1)
}

.word-container.hover .hide {
    color: #96479b;
    transition: all 1.4s cubic-bezier(.19, .77, .2, 1)
}

.word-container.hover .hide .hide-left,
.word-container.hover .hide .hide-right {
    color: #96479b;
    transform: translateX(0);
    opacity: 1;
    transition: all 1.4s cubic-bezier(.19, .77, .2, 1)
}

.word-container:hover {
    cursor: pointer
}

.word-container:hover .hide {
    color: #96479b;
    transition: all 1.4s cubic-bezier(.19, .77, .2, 1)
}

.word-container:hover .hide .hide-left,
.word-container:hover .hide .hide-right {
    color: #96479b;
    transform: translateX(0);
    opacity: 1;
    transition: all 1.4s cubic-bezier(.19, .77, .2, 1)
}

.word-container:hover .word-wrapper-elle {
    left: -79px;
    transition: all 1.1s cubic-bezier(.22, .61, .36, 1)
}

@media (max-width:680px) {
    .word-container:hover .word-wrapper-elle {
        left: -49px
    }
}

.word-container:hover .word-wrapper-aime {
    left: 125px;
    transition: all 1.1s cubic-bezier(.22, .61, .36, 1)
}

@media (max-width:680px) {
    .word-container:hover .word-wrapper-aime {
        left: 60px
    }
}

.word-container:hover .aime,
.word-container:hover .elle,
.word-container:hover .work {
    color: #96479b;
    transition: color 1.2s cubic-bezier(.19, .77, .2, 1)
}

.word-container:hover .word-wrapper-work:first-child {
    position: relative;
    left: -13px
}

.word-container:hover .word-wrapper-work:nth-child(2) {
    position: relative;
    left: -83px
}

.word-container:hover .word-wrapper-work:nth-child(3) {
    position: relative;
    left: 92px
}

.word-container.clicked .hide .hide-left,
.word-container.clicked .hide .hide-right {
    opacity: 1;
    transform: translateX(0)
}

.word-container .word {
    display: flex;
    line-height: 160px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.word-container .hide {
    width: auto;
    overflow: hidden;
    display: inline-block;
    color: #000
}

.word-container .hide .hide-right {
    color: #000;
    transform: translateX(100%);
    opacity: 0
}

.word-container .hide .hide-left {
    color: #000;
    transform: translateX(-100%);
    opacity: 0
}

.word-container .word-wrapper {
    overflow: hidden
}

.word-container .word-wrapper-elle {
    position: relative;
    bottom: -38px;
    left: -67px;
    transition: all 1s cubic-bezier(.19, .77, .2, 1)
}

.word-container .word-wrapper-elle.anim {
    transition: all 1.5s cubic-bezier(.67, .07, .41, .88);
    transform: translateX(-70vw)
}

@media (max-width:680px) {
    .word-container .word-wrapper-elle {
        bottom: -48px;
        left: -27px
    }
}

.word-container .word-wrapper-aime {
    position: relative;
    top: -39px;
    left: 6px;
    transition: all 1s cubic-bezier(.19, .77, .2, 1)
}

.word-container .word-wrapper-aime.anim {
    transition: all 1.5s cubic-bezier(.67, .07, .41, .88);
    transform: translateX(70vw)
}

@media (max-width:680px) {
    .word-container .word-wrapper-aime {
        top: -58px;
        left: 3px
    }
}

.word-container .word-wrapper-about {
    font-size: 18px;
    font-family: GTWalsheimProMedium;
    margin-top: -5px;
    overflow: hidden
}

.word-container .word-wrapper.overflow-visible {
    overflow: visible
}

.word-container .word-wrapper-work {
    transition: all .8s cubic-bezier(.19, .77, .2, 1);
    transition: all .8s cubic-bezier(.22, .61, .36, 1) .08s
}

.word-container .word-wrapper-work:first-child {
    position: relative;
    bottom: -77px;
    left: 27px
}

@media (max-width:680px) {
    .word-container .word-wrapper-work:first-child {
        bottom: -106px;
        left: 0
    }
}

.word-container .word-wrapper-work:nth-child(2) {
    position: relative;
    left: 155px
}

@media (max-width:680px) {
    .word-container .word-wrapper-work:nth-child(2) {
        left: 71px
    }
}

.word-container .word-wrapper-work:nth-child(3) {
    position: relative;
    top: -73px;
    left: -79px
}

@media (max-width:680px) {
    .word-container .word-wrapper-work:nth-child(3) {
        top: -99px;
        left: -82px
    }
}

.work-container .word-container.anim .word-wrapper-work {
    transition: all 1.5s cubic-bezier(.67, .07, .41, .88)
}

.work-container .word-container.anim .word-wrapper-work:first-child {
    transform: translateX(100vw)
}

.work-container .word-container.anim .word-wrapper-work:nth-child(2) {
    transform: translateX(-80vw);
    transition-delay: .2s
}

.work-container .word-container.anim .word-wrapper-work:nth-child(3) {
    transform: translateX(95vw);
    transition-delay: .4s
}


/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #f6f7f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: -710px;
    z-index: -99999;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.mobile_particles {
    position: relative;
}
span.hide {
    font-family: '! PEPSI !';
letter-spacing: 5px;
}

.hide-right {
    font-family: '! PEPSI !';
letter-spacing: 5px;
}

.hide-left {
    font-family: '! PEPSI !';
letter-spacing: 5px;
}

// canvas {
//     height: 500px !important;
// }